@-ms-viewport {
  width: device-width;
  initial-scale: 1; }
@-moz-viewport {
  width: device-width;
  initial-scale: 1; }
@-webkit-viewport {
  width: device-width;
  initial-scale: 1; }
*, :before, :after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  min-height: 100%; }

body {
  position: relative;
  min-height: 100%;
  overflow: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-overflow-scrolling: touch;
  -ms-touch-action: manipulation;
  touch-action: manipulation; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block; }

video, audio, canvas {
  display: inline-block; }

span {
  display: inline-block; }

a, input, button, textarea, optgroup, select, fieldset, figure, legend, address {
  font: inherit;
  color: inherit;
  line-height: inherit;
  text-transform: inherit;
  text-shadow: inherit;
  border: none;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  margin: 0;
  padding: 0; }

a, button, [type='button'], [type='submit'] {
  -webkit-transition: color .25s, background .25s, opacity .25s;
  -o-transition: color .25s, background .25s, opacity .25s;
  transition: color .25s, background .25s, opacity .25s; }

a {
  cursor: pointer;
  text-decoration: none;
  -webkit-text-decoration-skip: none; }

button {
  overflow: visible;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit; }

p {
  margin: 0;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  overflow: hidden; }

b, strong {
  font-weight: 700; }

img, svg, embed, object, iframe, video, audio, canvas {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  border: 0; }

img {
  image-rendering: optimizeQuality; }

svg {
  color: inherit; }
  svg:not(:root) {
    overflow: hidden; }

progress {
  vertical-align: baseline; }

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
  font: inherit;
  color: inherit;
  margin: 0; }

ul, ol, menu {
  margin: 0;
  padding: 0;
  list-style: none; }

input, select, button, button > *, a > * {
  display: inline-block;
  vertical-align: middle; }

button, label, select, summary, [type='button'], [type='submit'], [type='reset'], [type='checkbox'], [type='radio'], [type='range'] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer; }

[type='button'], [type='submit'], [type='search'], [type="radio"], [type='range'], ::-webkit-search-cancel-button, ::-webkit-search-decoration, ::-webkit-outer-spin-button, ::-webkit-inner-spin-button, ::-webkit-slider-thumb {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

::-webkit-contacts-auto-fill-button, ::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  right: 0; }

:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 1000px #fff;
  box-shadow: inset 0 0 0 1000px #fff; }

::-webkit-details-marker {
  display: none; }

[type="radio"] {
  -webkit-appearance: radio; }

[type='number'] {
  -moz-appearance: textfield; }

::-ms-clear, ::-ms-reveal {
  display: none; }

input, textarea {
  width: 100%; }

input {
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis; }

textarea {
  overflow: auto;
  resize: none; }

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0; }

:disabled {
  pointer-events: none; }

::-moz-focus-outer, ::-moz-focus-inner {
  border: 0;
  padding: 0; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

td, th {
  padding: 0;
  text-align: center; }

article p:not(:empty) {
  margin-top: .7em;
  margin-bottom: .7em; }
article img, article embed, article object, article iframe, article video {
  display: block;
  margin: auto; }
article span {
  display: inline; }
article ul, article ol, article menu {
  margin-top: .7em;
  margin-bottom: .7em; }
  article ul ul, article ul ol, article ul menu, article ol ul, article ol ol, article ol menu, article menu ul, article menu ol, article menu menu {
    margin: 0;
    padding-left: 1.3em; }
  article ul > li:before, article ol > li:before, article menu > li:before {
    margin-right: .7em; }
  article ul > li p, article ol > li p, article menu > li p {
    display: inline; }
article ul > li:before, article menu > li:before {
  content: '';
  width: .4em;
  height: .4em;
  display: inline-block;
  vertical-align: 10%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #000;
  border: 1px solid #000; }
article ul > li li:before, article menu > li li:before {
  background: transparent; }
article ol {
  counter-reset: count; }
  article ol > li:before {
    content: counter(count) ".";
    counter-increment: count; }

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?gg2qwj");
  src: url("../fonts/icomoon.eot?gg2qwj#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?gg2qwj") format("truetype"), url("../fonts/icomoon.woff?gg2qwj") format("woff"), url("../fonts/icomoon.svg?gg2qwj#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-cart:before {
  content: "\e90b"; }

.icon-heart:before {
  content: "\e90a"; }

.icon-zoom-in:before {
  content: "\e903"; }

.icon-zoom-out:before {
  content: "\e904"; }

.icon-search:before {
  content: "\e905"; }

.icon-facebook:before {
  content: "\e906"; }

.icon-instagram:before {
  content: "\e907"; }

.icon-more-horizontal:before {
  content: "\e900"; }

.icon-mail-envelope-closed:before {
  content: "\e901"; }

.icon-odnoklassniki:before {
  content: "\e902"; }

.icon-pinterest:before {
  content: "\e908"; }

.icon-vk:before {
  content: "\e909"; }

html {
  font-family: "Open Sans", sans-serif;
  color: #000;
  font-size: 12px;
  line-height: 1; }

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.wrapper {
  position: relative;
  min-width: 320px;
  min-height: 100vh;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.footer {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0; }

.container {
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px; }

a {
  display: inline-block;
  vertical-align: middle; }

.mobil {
  display: none !important; }
  @media (max-width: 720px) {
    .mobil {
      display: block !important; } }

.mobil-sx {
  display: none !important; }
  @media (max-width: 400px) {
    .mobil-sx {
      display: block !important; } }

.accent {
  color: #d05252; }

/*grid*/
.row, .breadcrambs__list,
.shild__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .row.ac, .ac.breadcrambs__list,
  .ac.shild__list {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .row.as, .as.breadcrambs__list,
  .as.shild__list {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; }
  .row.ab, .ab.breadcrambs__list,
  .ab.shild__list {
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline; }
  .row.jc, .jc.breadcrambs__list,
  .jc.shild__list {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .row.jsb, .jsb.breadcrambs__list,
  .jsb.shild__list {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .row.jsa, .jsa.breadcrambs__list,
  .jsa.shild__list {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }

.hidden {
  display: none; }

.tags {
  padding: 20px; }

.tags-module {
  min-width: 0;
  position: relative;
  margin: 20px 0;
  z-index: 0; }

.tags {
  max-width: 85%;
  margin: 0 auto; }

.tags__item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  white-space: nowrap;
  font-weight: 600;
  padding: 6px 10px;
  background-color: #dddddd; }

.reviews {
  padding: 20px 0;
  background-color: #e3e3f2; }

.reviews__slider {
  min-width: 0;
  max-width: 85%;
  margin: 0 auto;
  background-color: #fff; }

.reviews__pic {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 25%;
  -ms-flex: 1 1 25%;
  flex: 1 1 25%; }
  .reviews__pic img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
  @media (max-width: 500px) {
    .reviews__pic {
      display: none; } }

.reviews__body {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 75%;
  -ms-flex: 1 1 75%;
  flex: 1 1 75%;
  padding: 30px; }

.reviews__autor {
  margin-bottom: 30px; }

.reviews__autor-name {
  font-weight: 600; }

.reviews__text {
  line-height: 2; }

/*tracting*/
.trasting__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-width: 100%;
  padding: 10px 0;
  overflow: auto;
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 10px, #e78f84 10px, #e78f84 80%, #ffffff 80%);
  background-image: -o-linear-gradient(#ffffff, #ffffff 10px, #e78f84 10px, #e78f84 80%, #ffffff 80%);
  background-image: linear-gradient(#ffffff, #ffffff 10px, #e78f84 10px, #e78f84 80%, #ffffff 80%);
  -webkit-background-size: 95% auto;
  background-size: 95% auto;
  background-repeat: no-repeat;
  background-position: center; }

.tracting__item {
  min-width: 180px;
  width: 180px;
  padding: 0 10px 15px 10px;
  margin: 0 10px;
  text-align: center;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(61, 61, 61, 0.2), 0px 0px 6px 0px rgba(61, 61, 61, 0.2);
  box-shadow: 0px 0px 6px 0px rgba(61, 61, 61, 0.2), 0px 0px 6px 0px rgba(61, 61, 61, 0.2); }

.trasting__pic {
  margin-bottom: 15px; }

.trasting__body p {
  line-height: 1.5;
  -webkit-hyphens: inherit;
  -ms-hyphens: inherit;
  hyphens: inherit; }

.trasting__title {
  line-height: 1.5;
  text-transform: uppercase;
  font-weight: 600; }

/*breadcrumbs*/
.breadcrambs {
  margin-bottom: 10px; }

/*shild*/
.shild {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2; }

.shild__item {
  width: 40px;
  height: 40px;
  line-height: 40px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 10px; }
  .shild__item:last-child {
    margin-right: 0; }
  .shild__item.new {
    background-color: #99c349; }
  .shild__item.opt {
    background-color: #ecb124; }
  .shild__item.sale {
    background-color: #c84476; }
  .shild__item.hit {
    background-color: #8183c2; }

/*breadcrambs*/
.breadcrambs {
  margin-bottom: 20px; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.header__top {
  padding-top: 5px;
  background-color: #dddddd; }
  @media (max-width: 720px) {
    .header__top {
      display: none; } }

.adds {
  background-color: #dddddd;
  padding: 20px;
  margin: 0 -20px; }
  .adds .region,
  .adds .header__adress,
  .adds .chain,
  .adds .email {
    margin-bottom: 20px; }

.net {
  margin-top: -5px; }

.net-item {
  margin-right: 8px; }
  .net-item:last-child {
    margin-right: 0; }

.you-region {
  position: relative;
  padding-right: 10px;
  text-decoration: underline;
  cursor: pointer; }
  .you-region:after {
    content: "\25BC";
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: -3px; }

.header__main {
  padding: 14px 0; }
  @media (max-width: 720px) {
    .header__main {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: #fff;
      z-index: 100; } }

.logo {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 40%;
  -ms-flex: 0 1 40%;
  flex: 0 1 40%; }
  @media (max-width: 720px) {
    .logo {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-flex: 0;
      -webkit-flex: 0 1 40%;
      -ms-flex: 0 1 40%;
      flex: 0 1 40%; } }

.logo__pic {
  display: inline-block;
  vertical-align: middle; }
  .logo__pic img {
    vertical-align: baseline;
    margin-right: 8px; }
    @media (max-width: 400px) {
      .logo__pic img {
        margin-right: 0; } }

@media (max-width: 720px) {
  .logo__text {
    display: none; } }

.search__open-btn {
  display: none; }
  @media (max-width: 720px) {
    .search__open-btn {
      width: 40px;
      height: auto;
      display: block; } }

/*phones*/
@media (max-width: 720px) {
  .phones {
    display: none; } }

.phones__item {
  margin-bottom: 8px;
  color: #333; }
  .phones__item a {
    font-weight: 700;
    font-size: 1.2em;
    color: #000; }
  .phones__item:last-child {
    margin-bottom: 0; }
    .phones__item:last-child a {
      font-size: 0.9em;
      color: #626262; }
    .phones__item:last-child img {
      margin-right: 5px; }

/*user*/
.user {
  position: relative; }

@media (max-width: 720px) {
  .user__wrap:hover .user__menu {
    left: 0;
    opacity: 1; } }
  @media (max-width: 720px) and (max-width: 400px) {
    .user__wrap:hover .user__menu {
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); } }

.user__menu {
  position: relative;
  z-index: 100; }
  @media (max-width: 720px) {
    .user__menu {
      position: absolute;
      top: calc(100% + 20px);
      left: 0%;
      width: 220px;
      padding: 20px;
      left: -9999px;
      background-color: #fff;
      -webkit-box-shadow: 0 1px 4px 0 rgba(76, 76, 76, 0.6);
      box-shadow: 0 1px 4px 0 rgba(76, 76, 76, 0.6);
      opacity: 0;
      -webkit-transition: opacity 0.3s ease-in-out;
      -o-transition: opacity 0.3s ease-in-out;
      transition: opacity 0.3s ease-in-out; }
      .user__menu:before {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 0;
        display: block;
        width: 100%;
        height: 21px; } }

.user__menu-item:hover {
  cursor: pointer;
  color: #8183c2; }

.user__avatar {
  width: 48px;
  height: 48px;
  margin-right: 10px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  overflow: hidden;
  cursor: pointer; }
  .user__avatar img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
  @media (max-width: 400px) {
    .user__avatar {
      width: 38px;
      height: 38px;
      margin-right: 0; } }

.user__menu-item a {
  display: block;
  padding: 3px; }

.bookmarks,
.cart__link {
  position: relative;
  width: 48px; }
  @media (max-width: 400px) {
    .bookmarks,
    .cart__link {
      width: 38px; } }

.score {
  position: absolute;
  display: block;
  width: 18px;
  height: 18px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  font-size: 10px;
  text-align: center;
  line-height: 17px;
  color: #fff; }

.bookmarks__score {
  top: 0;
  left: 0;
  background-color: #c63b3b; }

.cart__link-score {
  left: -5px;
  bottom: 0;
  background-color: #656798; }

/*navigation*/
.header__nav {
  background-color: #d05252; }
  @media (max-width: 720px) {
    .header__nav {
      position: fixed;
      left: -100%;
      top: 0;
      bottom: 70px;
      width: 80%;
      height: 100%;
      padding-top: 20px;
      background-color: #fff;
      z-index: 100;
      -webkit-transition: left 0.3s ease;
      -o-transition: left 0.3s ease;
      transition: left 0.3s ease; }
      .header__nav .container {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        height: 100%; } }
  .header__nav.open {
    left: 0;
    width: 80%; }
    @media (max-width: 400px) {
      .header__nav.open {
        width: 100%; } }
  @media (min-width: 720px) {
    .header__nav.fixed {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 101; } }

.main.fixed {
  margin-top: 50px; }

.nav__list {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  z-index: 10; }
  @media (max-width: 720px) {
    .nav__list {
      display: block;
      margin: 0 -20px;
      background-color: #d05252; } }

.nav__item {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  text-align: center;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }
  .nav__item.current {
    background-color: #c63b3b; }
  .nav__item.accent {
    background-color: #e78f84; }
  .nav__item:hover {
    background-color: #656798; }
  @media (max-width: 720px) {
    .nav__item {
      text-align: left; } }

.nav__link {
  display: block;
  padding: 0.5em 1em;
  font-size: 1.2em;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff; }

/*dropdown*/
.dropdown:hover .dropdown__wrap {
  left: 0;
  opacity: 1; }
  @media (max-width: 720px) {
    .dropdown:hover .dropdown__wrap {
      left: -9999px;
      opacity: 0; } }
  .dropdown:hover .dropdown__wrap.open {
    left: 0;
    opacity: 1; }
@media (max-width: 720px) {
  .dropdown {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

.dropdown__wrap {
  position: absolute;
  padding: 20px;
  top: 100%;
  left: -9999px;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 4px 0 rgba(76, 76, 76, 0.6);
  box-shadow: 0 1px 4px 0 rgba(76, 76, 76, 0.6);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out; }
  @media (max-width: 720px) {
    .dropdown__wrap {
      position: fixed;
      top: 0;
      height: 100%;
      overflow: auto;
      width: 80%;
      padding: 40px 20px 20px 20px; } }
  @media (max-width: 400px) {
    .dropdown__wrap {
      width: 100%; } }
  .dropdown__wrap.open {
    left: 0;
    opacity: 1; }

.dropdown__pic {
  padding-right: 10px; }
  .dropdown__pic a {
    display: block;
    height: 100%; }
    .dropdown__pic a img {
      height: 100%;
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
  @media (max-width: 880px) {
    .dropdown__pic {
      display: none; } }

.dropdown__col {
  padding: 0 10px;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
  -ms-flex: 1 1 0px;
  flex: 1 1 0; }
  .dropdown__col.double {
    -webkit-box-flex: 2;
    -webkit-flex: 2 1 1px;
    -ms-flex: 2 1 1px;
    flex: 2 1 1px; }
    .dropdown__col.double .dropdown__list {
      -webkit-column-count: 2;
      column-count: 2;
      -webkit-column-gap: 20px;
      column-gap: 20px; }
      @media (max-width: 720px) {
        .dropdown__col.double .dropdown__list {
          -webkit-column-count: 1;
          column-count: 1; } }
      .dropdown__col.double .dropdown__list .dropdown__item {
        display: inline-block;
        width: 100%; }
    @media (max-width: 720px) {
      .dropdown__col.double {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
        margin-top: 20px;
        padding: 0; } }
  @media (max-width: 720px) {
    .dropdown__col {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
      flex: 1 1 100%;
      padding: 0; } }

.dropdown__item {
  position: relative;
  z-index: 1; }
  .dropdown__item:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
  .dropdown__item:hover:after {
    background-color: #e3e3f2; }
  .dropdown__item:hover:before {
    -webkit-transform: translateY(-50%) rotateZ(135deg);
    -ms-transform: translateY(-50%) rotate(135deg);
    transform: translateY(-50%) rotateZ(135deg); }

.dropdown__link,
.submenu__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: left;
  width: 100%;
  padding: 4px 0;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }
  .dropdown__link .link-count,
  .submenu__link .link-count {
    vertical-align: bottom;
    color: #626262;
    padding-left: 4px; }

.dropdown__title {
  padding-bottom: 0.8em;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #000;
  font-weight: 700;
  text-transform: uppercase;
  text-align: initial; }

/*dropdown submenu*/
.submenu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 14px; }
  .submenu:before {
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%) rotateZ(-45deg);
    -ms-transform: translateY(-50%) rotate(-45deg);
    transform: translateY(-50%) rotateZ(-45deg);
    left: 1px;
    width: 7px;
    height: 7px;
    border-left: 2px solid #626262;
    border-bottom: 2px solid #626262;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
  .submenu:hover {
    z-index: 2; }
    .submenu:hover .submenu__list {
      right: 0;
      opacity: 1; }
      @media (max-width: 720px) {
        .submenu:hover .submenu__list {
          right: -9999px;
          opacity: 0; } }
      .submenu:hover .submenu__list.open {
        right: 0;
        opacity: 1; }
  @media (max-width: 720px) {
    .submenu {
      padding-left: 0; }
      .submenu:before {
        display: none; } }
  .submenu .dropdown__link {
    width: auto; }

.submenu__list {
  position: absolute;
  top: 100%;
  right: 9999px;
  padding: 10px 12px 14px 12px;
  max-width: 80%;
  width: 100%;
  background-color: #f5f5ff;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  z-index: 2; }
  .submenu__list.open {
    right: 0;
    opacity: 1; }
  @media (max-width: 400px) {
    .submenu__list {
      max-width: 400px; } }

.main {
  margin-top: 20px;
  margin-bottom: 5%; }
  @media (max-width: 720px) {
    .main {
      margin-top: 80px; } }

.slider {
  min-width: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 68%;
  -ms-flex: 0 1 68%;
  flex: 0 1 68%; }
  @media (max-width: 720px) {
    .slider {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
      flex: 1 1 100%;
      margin-bottom: 20px; } }

.banner__list.row, .banner__list.breadcrambs__list {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 30%;
  -ms-flex: 0 1 30%;
  flex: 0 1 30%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 720px) {
    .banner__list.row, .banner__list.breadcrambs__list {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
      flex: 1 1 100%;
      margin-bottom: 20px;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row; } }
  .banner__list.row .banner__item, .banner__list.breadcrambs__list .banner__item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 47%;
    -ms-flex: 1 1 47%;
    flex: 1 1 47%;
    margin-bottom: 14px; }
    @media (max-width: 720px) {
      .banner__list.row .banner__item, .banner__list.breadcrambs__list .banner__item {
        padding-bottom: 25%;
        margin-bottom: 0;
        margin-right: 14px; }
        .banner__list.row .banner__item-verticle, .banner__list.breadcrambs__list .banner__item-verticle {
          margin-top: 10px;
          padding-bottom: 166%; } }
    .banner__list.row .banner__item:last-child, .banner__list.breadcrambs__list .banner__item:last-child, .banner__list.row .banner__item:only-child, .banner__list.breadcrambs__list .banner__item:only-child {
      margin-bottom: 0; }
      @media (max-width: 720px) {
        .banner__list.row .banner__item:last-child, .banner__list.breadcrambs__list .banner__item:last-child, .banner__list.row .banner__item:only-child, .banner__list.breadcrambs__list .banner__item:only-child {
          margin-right: 0; } }

.banner__item {
  position: relative;
  padding-bottom: 47.7%; }
  .banner__item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

/*section*/
.section {
  margin: 40px 0; }

.section__title {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center; }
  .section__title * {
    display: inline-block;
    vertical-align: baseline; }
    .section__title * ~ a {
      font-size: 14px;
      font-weight: 400;
      text-decoration: underline;
      text-transform: initial;
      color: #d05252; }

/*action*/
.action .slider {
  margin-right: 1%; }
  @media (max-width: 720px) {
    .action .slider {
      margin-right: 0; } }
.action .banner__list.row, .action .banner__list.breadcrambs__list {
  margin-top: 10px; }
  @media (max-width: 720px) {
    .action .banner__list.row, .action .banner__list.breadcrambs__list {
      margin-top: 0; } }

/*offers*/
.offers {
  position: relative;
  padding: 30px 0;
  background-color: #e78f84;
  z-index: 0; }

.offers__slider {
  overflow: visible; }
  @media (max-width: 500px) {
    .offers__slider {
      width: 90%;
      overflow: hidden; } }

.offers__list {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-width: 0; }
  @media (max-width: 500px) {
    .offers__list {
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; } }

.offers__item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 32%;
  -ms-flex: 0 1 32%;
  flex: 0 1 32%; }
  .offers__item img,
  .offers__item a {
    display: block;
    width: 100%; }
  @media (max-width: 500px) {
    .offers__item {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%; } }

.swiper-button-prev.offers-prev::after,
.swiper-button-next.offers-next::after {
  color: #fff; }

.offers-pager {
  display: none; }
  @media (max-width: 500px) {
    .offers-pager {
      display: block; } }

@media (max-width: 500px) {
  .news a {
    display: none; }
  .news .title-button {
    display: block;
    color: #fff;
    padding: 0.4em 1em;
    background-color: #8183c2; }
    .news .title-button.accent {
      background-color: #c63b3b; } }

@media (max-width: 500px) {
  .news__list {
    display: none; } }

.news__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 32%;
  -ms-flex: 0 1 32%;
  flex: 0 1 32%;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(61, 61, 61, 0.2), 0px 0px 6px 0px rgba(61, 61, 61, 0.2);
  box-shadow: 0px 0px 6px 0px rgba(61, 61, 61, 0.2), 0px 0px 6px 0px rgba(61, 61, 61, 0.2);
  line-height: 1.5; }

.news__pic {
  position: relative;
  padding-bottom: 45%;
  margin-bottom: 20px; }
  .news__pic img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

.news__info {
  margin-bottom: 20px; }

.news__text {
  margin-top: auto;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4; }

.news__date {
  margin-bottom: 5px; }

.news__title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-weight: 700; }

.catalog {
  overflow: visible; }
  @media (max-width: 500px) {
    .catalog {
      overflow: hidden;
      padding-top: 5px;
      margin: 0 -20px; } }

.catalog__list {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-width: 0; }
  @media (max-width: 800px) {
    .catalog__list {
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start; } }
  @media (max-width: 500px) {
    .catalog__list {
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; } }

.catalog__item {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: stretch;
  -webkit-justify-content: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  height: auto;
  padding: 10px;
  margin-bottom: 50px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 16.65%;
  -ms-flex: 0 1 16.65%;
  flex: 0 1 16.65%;
  font-size: 12px;
  -webkit-box-shadow: 0 0 0 0 rbga(#fff, 0);
  box-shadow: 0 0 0 0 rbga(#fff, 0);
  -webkit-transition: -webkit-box-shadow 0.3s ease-in;
  transition: -webkit-box-shadow 0.3s ease-in;
  -o-transition: box-shadow 0.3s ease-in;
  transition: box-shadow 0.3s ease-in;
  transition: box-shadow 0.3s ease-in, -webkit-box-shadow 0.3s ease-in;
  background-color: #fff; }
  @media (max-width: 1060px) {
    .catalog__item {
      -webkit-box-flex: 0;
      -webkit-flex: 0 1 18%;
      -ms-flex: 0 1 18%;
      flex: 0 1 18%; } }
  @media (max-width: 800px) {
    .catalog__item {
      -webkit-box-flex: 0;
      -webkit-flex: 0 1 33%;
      -ms-flex: 0 1 33%;
      flex: 0 1 33%; } }
  @media (max-width: 500px) {
    .catalog__item {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 60%;
      -ms-flex: 0 0 60%;
      flex: 0 0 60%;
      margin-bottom: 0;
      padding-bottom: 0; } }
  .catalog__item:last-child {
    margin-right: auto; }
    @media (max-width: 800px) {
      .catalog__item:last-child {
        margin-right: 0; } }
  .catalog__item .btn {
    width: 100%; }
  .catalog__item:hover {
    -webkit-box-shadow: 0.707px -0.707px 3px 0px rgba(61, 61, 61, 0.2), -2px 0px 3px 0px rgba(61, 61, 61, 0.2);
    box-shadow: 0.707px -0.707px 3px 0px rgba(61, 61, 61, 0.2), -2px 0px 3px 0px rgba(61, 61, 61, 0.2);
    z-index: 2; }
    .catalog__item:hover .catalog__info {
      max-height: 550px; }
    .catalog__item:hover .catalog__descr {
      -webkit-box-shadow: -2px 0px 3px 0px rgba(61, 61, 61, 0.2), 2px 1px 3px 0px rgba(61, 61, 61, 0.2);
      box-shadow: -2px 0px 3px 0px rgba(61, 61, 61, 0.2), 2px 1px 3px 0px rgba(61, 61, 61, 0.2); }
    .catalog__item:hover .catalog__btn {
      margin: 0 -10px; }

.catalog__price {
  margin-top: -18px;
  margin-bottom: 10px;
  width: 100%; }

.catalog__price-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 3px 0 3px 5px;
  background-color: rgba(255, 255, 255, 0.8); }

.price__text {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.price__cost {
  padding: 0 5px;
  margin: -3px 0;
  text-align: center;
  font-weight: 600;
  white-space: nowrap;
  line-height: 16px;
  background-color: #d0d5d7; }
  .price__cost.old {
    margin-left: auto;
    color: #626262;
    background-color: #f3f3f3; }
  .price__cost.sale {
    background-color: #c63b3b;
    color: #fff; }
  .price__cost.opt {
    background-color: #d05252;
    color: #fff; }

.catalog__item-title {
  text-align: center;
  font-weight: 700;
  line-height: 1.3; }
  @media (max-width: 500px) {
    .catalog__item-title {
      margin-bottom: 10px; } }

.catalog__descr {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  padding: 0 10px;
  background-color: inherit;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media (max-width: 500px) {
    .catalog__descr {
      position: static;
      padding: 0;
      margin-top: auto; } }

.catalog__info {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease-in;
  -o-transition: max-height 0.3s ease-in;
  transition: max-height 0.3s ease-in; }
  @media (max-width: 500px) {
    .catalog__info {
      display: none; } }

.catalog__item-fabric {
  padding: 5px 0;
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin-bottom: 10px;
  font-size: 10px;
  line-height: 1.5;
  text-align: center; }

.catalog__item-color {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10px; }

.color__list {
  margin-right: 3px; }

.color__item {
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  margin-right: 3px; }
  .color__item:last-child {
    margin-right: 0; }

.more-color {
  font-size: 10px;
  font-weight: 600; }

.catalog__btn {
  margin-top: auto; }

.action__slider .catalog__item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 25%;
  -ms-flex: 0 1 25%;
  flex: 0 1 25%; }
  @media (max-width: 800px) {
    .action__slider .catalog__item {
      -webkit-box-flex: 0;
      -webkit-flex: 0 1 33%;
      -ms-flex: 0 1 33%;
      flex: 0 1 33%; } }
  @media (max-width: 500px) {
    .action__slider .catalog__item {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 60%;
      -ms-flex: 0 0 60%;
      flex: 0 0 60%; } }

/*product page*/
.columns {
  -webkit-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 20px;
  column-gap: 20px; }
  @media (max-width: 720px) {
    .columns {
      -webkit-column-count: 1;
      column-count: 1;
      -webkit-column-gap: 0;
      column-gap: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; } }

.product__galery {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: auto; }
  .product__galery .catalog__price {
    position: absolute;
    bottom: -10px;
    right: 0;
    width: 100%;
    z-index: 2;
    font-size: 14px; }

.product__galery-img {
  padding-bottom: 100%; }
  .product__galery-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

.product__galery-wrap {
  width: calc(100% - 80px);
  padding-bottom: 20px; }
  @media (max-width: 720px) {
    .product__galery-wrap {
      width: 100%; } }

.product__thumbs {
  position: relative;
  width: 60px;
  height: 460px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media (max-width: 720px) {
    .product__thumbs {
      display: none; } }

.product__thumbs-wrap {
  max-height: 400px; }
  @media (max-width: 720px) {
    .product__thumbs-wrap {
      display: none; } }

.product__thumbs-pic {
  width: 60px;
  height: 60px;
  overflow: hidden; }

.product__additional {
  -webkit-column-break-after: avoid;
  break-after: avoid;
  -webkit-column-break-inside: avoid;
  break-inside: avoid; }
  .product__additional .catalog__item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 33.333%;
    -ms-flex: 0 1 33.333%;
    flex: 0 1 33.333%; }
    @media (max-width: 720px) {
      .product__additional .catalog__item {
        -webkit-box-flex: 0;
        -webkit-flex: 0 1 50%;
        -ms-flex: 0 1 50%;
        flex: 0 1 50%; } }
    @media (max-width: 500px) {
      .product__additional .catalog__item {
        -webkit-box-flex: 0;
        -webkit-flex: 0 1 100%;
        -ms-flex: 0 1 100%;
        flex: 0 1 100%; } }
  @media (max-width: 720px) {
    .product__additional {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
      -ms-flex-order: 1;
      order: 1; } }

.swiper-pagination.product__pagination {
  display: none;
  bottom: 60px; }
  .swiper-pagination.product__pagination .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    border-color: #626262;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .swiper-pagination.product__pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    border-color: #fff; }
  @media (max-width: 720px) {
    .swiper-pagination.product__pagination {
      display: block; } }

.product__button-next,
.product__button-prev {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }
  .product__button-next:after,
  .product__button-prev:after {
    font-size: 30px;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg); }

.product__button-next {
  top: 5px; }

.product__button-prev {
  bottom: 0;
  top: auto; }

.footer {
  padding: 30px 0 20px 0;
  background-color: #c63b3b;
  color: #fff; }

.footer__col {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 20%;
  -ms-flex: 0 1 20%;
  flex: 0 1 20%;
  padding: 0 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media (max-width: 1000px) {
    .footer__col {
      -webkit-box-flex: 0;
      -webkit-flex: 0 1 30%;
      -ms-flex: 0 1 30%;
      flex: 0 1 30%;
      margin-bottom: 30px; }
      .footer__col.footer-net, .footer__col.payment {
        -webkit-box-flex: 0;
        -webkit-flex: 0 1 30%;
        -ms-flex: 0 1 30%;
        flex: 0 1 30%;
        margin-bottom: 0; } }
  @media (max-width: 1000px) and (max-width: 720px) {
    .footer__col {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
      flex: 1 1 100%;
      margin-bottom: 0; }
      .footer__col.footer-net, .footer__col.payment {
        -webkit-box-flex: 0;
        -webkit-flex: 0 1 50%;
        -ms-flex: 0 1 50%;
        flex: 0 1 50%;
        margin-top: 18px; }
        .footer__col.footer-net .footer__title:after, .footer__col.payment .footer__title:after {
          display: none; } }

    @media (max-width: 1000px) and (max-width: 720px) and (max-width: 400px) {
      .footer__col.footer-net, .footer__col.payment {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%; } }

.footer__title {
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 15px; }
  @media (max-width: 720px) {
    .footer__title {
      cursor: pointer; }
      .footer__title:after {
        content: '\25BC';
        display: inline-block;
        vertical-align: bottom;
        margin-left: 10px; } }

@media (max-width: 720px) {
  .footer__list {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out; }
    .footer__list.open {
      max-height: 500px;
      margin-bottom: 20px; } }
.footer__list + .footer__title {
  margin-top: auto; }

.footer__item a, .footer-net__item a {
  display: block;
  padding: 3px 0; }
  .footer__item a > *, .footer-net__item a > * {
    vertical-align: bottom; }
  .footer__item a > img, .footer-net__item a > img {
    margin-right: 10px; }

.payment__item {
  width: 55px;
  padding: 0 5px;
  margin-bottom: 10px; }

.footer__bottom {
  margin-top: 30px; }
  @media (max-width: 500px) {
    .footer__bottom {
      display: block;
      text-align: center; }
      .footer__bottom p {
        display: inline;
        vertical-align: bottom; } }

.swiper-wrapper {
  min-width: 0; }

.swiper-button-prev::after,
.swiper-button-next::after {
  color: #626262; }

.banner-pagination {
  width: auto !important;
  margin-left: 15px; }

.swiper-pagination-bullet {
  background: #dddddd;
  border: 3px solid #dddddd;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  opacity: 1;
  -webkit-box-shadow: 2px 2px 2px rgba(98, 98, 98, 0.5);
  box-shadow: 2px 2px 2px rgba(98, 98, 98, 0.5); }

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #757575;
  border: 3px solid #e78f84; }

@media (max-width: 500px) {
  .swiper-button-prev:after,
  .swiper-button-next:after {
    font-size: 30px; } }

.tag-prev:after,
.tag-next:after {
  font-size: 20px;
  font-weight: bold; }

.search__wrap {
  margin-top: 10px; }
  @media (max-width: 720px) {
    .search__wrap {
      position: absolute;
      width: calc(100% - 40px);
      left: -9999px;
      opacity: 0;
      top: 100%;
      z-index: 100;
      -webkit-transition: opacity .3s ease-in-out;
      -o-transition: opacity .3s ease-in-out;
      transition: opacity .3s ease-in-out; }
      .search__wrap.open {
        left: 20px;
        opacity: 1; } }

.search__form-label {
  position: relative;
  display: block; }
  @media (max-width: 720px) {
    .search__form-label {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; } }

.search-form__button {
  position: absolute;
  top: 0;
  left: 0;
  width: 3em;
  height: 100%;
  text-indent: -9999px;
  background: url(../img/search.svg) center center/auto 80% no-repeat; }
  @media (max-width: 720px) {
    .search-form__button {
      position: relative;
      width: auto;
      padding: .7em 1.4em;
      -webkit-border-radius: 25px;
      border-radius: 25px;
      margin-left: 10px;
      text-transform: uppercase;
      color: #fff;
      font-weight: 700;
      text-indent: 0;
      background: #8183c2; } }

.search__form-input {
  display: block;
  padding: .5em 1em .5em 3em;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  background-color: #dddddd; }

.user__login {
  position: absolute;
  left: -9999px;
  top: calc(100% + 14px);
  min-width: 222px;
  width: 100%;
  padding: 16px;
  background-color: #fbfbfb;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.47);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.47);
  opacity: 0;
  -webkit-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
  z-index: 100; }
  .user__login.open {
    left: 0;
    opacity: 1; }
    @media (max-width: 400px) {
      .user__login.open {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%); } }

.user__title {
  margin-bottom: 10px;
  font-weight: 700; }

.form__row {
  position: relative;
  margin-bottom: 14px; }
  .form__row:last-of-type {
    margin-bottom: 0; }
  .form__row.password [type="password"] {
    padding: 4px 25px 4px 4px; }
  .form__row.password:after {
    content: '';
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 20px;
    height: 11px;
    background: url(../img/misc/eye.svg) center center/contain no-repeat; }

.form__label {
  position: relative;
  display: block;
  margin-bottom: 5px; }

.form__input {
  display: block;
  width: 100%;
  padding: 5px;
  border: 1px solid #757575; }

.btn {
  padding: 0.9em 1.4em;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  background-color: #8183c2; }

.btn-link {
  padding: 5px 4px 5px 9px; }

.close {
  position: absolute;
  right: -7px;
  top: -7px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 1.5em; }

.menu-trigger {
  display: none;
  position: relative;
  width: 35px;
  height: 28px;
  padding: 12px 0;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: content-box;
  background-color: #222;
  cursor: pointer; }
  .menu-trigger:before, .menu-trigger:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #222; }
  .menu-trigger:before {
    top: 0; }
  .menu-trigger:after {
    bottom: 0; }
  @media (max-width: 720px) {
    .menu-trigger {
      display: block; } }
  @media (max-width: 400px) {
    .menu-trigger {
      height: 25px;
      padding: 11px 5px; }
      .menu-trigger:before, .menu-trigger:after {
        left: 5px;
        right: 5px;
        width: auto;
        height: 3px; } }

.menu-close {
  position: absolute;
  top: 0;
  right: 0;
  text-indent: -999px;
  overflow: hidden;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 2; }
  .menu-close:before, .menu-close:after {
    content: "";
    position: absolute;
    left: 15px;
    right: 15px;
    top: 50%;
    height: 3px;
    background-color: #222; }
  .menu-close:before {
    -webkit-transform: translateY(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg); }
  .menu-close:after {
    -webkit-transform: translateY(-50%) rotate(-45deg);
    -ms-transform: translateY(-50%) rotate(-45deg);
    transform: translateY(-50%) rotate(-45deg); }

.dropdown__trigger {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }
  .dropdown__trigger:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: rotate(-45deg) translateY(-50%);
    -ms-transform: rotate(-45deg) translateY(-50%);
    transform: rotate(-45deg) translateY(-50%);
    width: 12px;
    height: 12px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff; }

.submenu__trigger {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }
  .submenu__trigger:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: rotate(-45deg) translateY(-50%);
    -ms-transform: rotate(-45deg) translateY(-50%);
    transform: rotate(-45deg) translateY(-50%);
    width: 8px;
    height: 8px;
    border-bottom: 1px solid;
    border-right: 1px solid; }

.dropdown__close {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5em 0.5em 0.7em 2.5em;
  background-color: #e78f84;
  color: #fff;
  font-weight: 700; }
  .dropdown__close:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 25px;
    background-color: #d05252; }
  .dropdown__close:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 5px;
    -webkit-transform: translateY(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg);
    width: 12px;
    height: 12px;
    border-bottom: 3px solid #fff;
    border-left: 3px solid #fff; }

.to-top {
  position: fixed;
  bottom: 20%;
  left: 20px;
  width: 48px;
  height: 48px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  overflow: hidden;
  opacity: 1;
  z-index: 10; }



/*# sourceMappingURL=main.css.map */