@-ms-viewport {
  width: device-width;
  initial-scale: 1; }

@-moz-viewport {
  width: device-width;
  initial-scale: 1; }

@-webkit-viewport {
  width: device-width;
  initial-scale: 1; }

*, :before, :after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  min-height: 100%; }

body {
  position: relative;
  min-height: 100%;
  overflow: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-overflow-scrolling: touch;
  -ms-touch-action: manipulation;
  touch-action: manipulation; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block; }

video, audio, canvas {
  display: inline-block; }

span {
  display: inline-block; }

a, input, button, textarea, optgroup, select, fieldset, figure, legend, address {
  font: inherit;
  color: inherit;
  line-height: inherit;
  text-transform: inherit;
  text-shadow: inherit;
  border: none;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  margin: 0;
  padding: 0; }

a, button, [type='button'], [type='submit'] {
  -webkit-transition: color .25s, background .25s, opacity .25s;
  -o-transition: color .25s, background .25s, opacity .25s;
  transition: color .25s, background .25s, opacity .25s; }

a {
  cursor: pointer;
  text-decoration: none;
  -webkit-text-decoration-skip: none; }

button {
  overflow: visible;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit; }

p {
  margin: 0;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  overflow: hidden; }

b, strong {
  font-weight: 700; }

img, svg, embed, object, iframe, video, audio, canvas {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  border: 0; }

img {
  image-rendering: optimizeQuality; }

svg {
  color: inherit; }
  svg:not(:root) {
    overflow: hidden; }

progress {
  vertical-align: baseline; }

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
  font: inherit;
  color: inherit;
  margin: 0; }

ul, ol, menu {
  margin: 0;
  padding: 0;
  list-style: none; }

input, select, button, button > *, a > * {
  display: inline-block;
  vertical-align: middle; }

button, label, select, summary, [type='button'], [type='submit'], [type='reset'], [type='checkbox'], [type='radio'], [type='range'] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer; }

[type='button'], [type='submit'], [type='search'], [type="radio"], [type='range'], ::-webkit-search-cancel-button, ::-webkit-search-decoration, ::-webkit-outer-spin-button, ::-webkit-inner-spin-button, ::-webkit-slider-thumb {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

::-webkit-contacts-auto-fill-button, ::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  right: 0; }

:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 1000px #fff;
  box-shadow: inset 0 0 0 1000px #fff; }

::-webkit-details-marker {
  display: none; }

[type="radio"] {
  -webkit-appearance: radio; }

[type='number'] {
  -moz-appearance: textfield; }

::-ms-clear, ::-ms-reveal {
  display: none; }

input, textarea {
  width: 100%; }

input {
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis; }

textarea {
  overflow: auto;
  resize: none; }

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0; }

:disabled {
  pointer-events: none; }

::-moz-focus-outer, ::-moz-focus-inner {
  border: 0;
  padding: 0; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

td, th {
  padding: 0;
  text-align: center; }

article p:not(:empty) {
  margin-top: .7em;
  margin-bottom: .7em; }

article img, article embed, article object, article iframe, article video {
  display: block;
  margin: auto; }

article span {
  display: inline; }

article ul, article ol, article menu {
  margin-top: .7em;
  margin-bottom: .7em; }
  article ul ul, article ul ol, article ul menu, article ol ul, article ol ol, article ol menu, article menu ul, article menu ol, article menu menu {
    margin: 0;
    padding-left: 1.3em; }
  article ul > li:before, article ol > li:before, article menu > li:before {
    margin-right: .7em; }
  article ul > li p, article ol > li p, article menu > li p {
    display: inline; }

article ul > li:before, article menu > li:before {
  content: '';
  width: .4em;
  height: .4em;
  display: inline-block;
  vertical-align: 10%;
  border-radius: 50%;
  background: #000;
  border: 1px solid #000; }

article ul > li li:before, article menu > li li:before {
  background: transparent; }

article ol {
  counter-reset: count; }
  article ol > li:before {
    content: counter(count) ".";
    counter-increment: count; }

html {
  font-family: "Open Sans", sans-serif;
  color: #000;
  font-size: 12px;
  line-height: 1; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.wrapper {
  position: relative;
  min-width: 320px;
  min-height: 100vh;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.footer {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0; }

.container {
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px; }

a {
  display: inline-block;
  vertical-align: middle; }

.mobila {
  display: none !important; }
  @media (max-width: 720px) {
    .mobila {
      display: block !important; } }

/*grid*/
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .row.ac {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .row.as {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; }
  .row.ab {
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline; }
  .row.jc {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .row.jsb {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .row.jsa {
    -ms-flex-pack: distribute;
    justify-content: space-around; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 16px; }

.header__top {
  padding-top: 5px;
  background-color: #dddddd; }
  @media (max-width: 720px) {
    .header__top {
      display: none; } }

.adds {
  background-color: #dddddd;
  padding: 20px;
  margin: 0 -20px; }
  .adds .region, .adds .header__adress, .adds .chain, .adds .email {
    margin-bottom: 20px; }

.net-item {
  margin-right: 8px; }
  .net-item:last-child {
    margin-right: 0; }

.you-region {
  position: relative;
  padding-right: 10px;
  text-decoration: underline;
  cursor: pointer; }
  .you-region:after {
    content: "\25BC";
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0; }

.header__main {
  padding: 14px 0; }
  @media (max-width: 720px) {
    .header__main {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: #fff;
      z-index: 100; } }

.logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 40%;
  flex: 0 1 40%; }
  @media (max-width: 720px) {
    .logo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
      flex: 0 1 40%; } }

.logo__pic {
  display: inline-block;
  vertical-align: middle; }
  .logo__pic img {
    vertical-align: baseline;
    margin-right: 8px; }
    @media (max-width: 400px) {
      .logo__pic img {
        margin-right: 0; } }

@media (max-width: 720px) {
  .logo__text {
    display: none; } }

.search__open-btn {
  display: none; }
  @media (max-width: 720px) {
    .search__open-btn {
      width: 40px;
      height: auto;
      display: block; } }

/*phones*/
@media (max-width: 720px) {
  .phones {
    display: none; } }

.phones__item {
  margin-bottom: 8px;
  color: #333; }
  .phones__item a {
    font-weight: 700;
    font-size: 1.2em;
    color: #000; }
  .phones__item:last-child {
    margin-bottom: 0; }
    .phones__item:last-child a {
      font-size: 0.9em;
      color: #626262; }
    .phones__item:last-child img {
      margin-right: 5px; }

/*user*/
.user {
  position: relative; }

@media (max-width: 720px) {
  .user__wrap:hover .user__menu {
    left: 0;
    opacity: 1; } }
  @media (max-width: 720px) and (max-width: 400px) {
    .user__wrap:hover .user__menu {
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); } }

.user__menu {
  position: relative;
  z-index: 100; }
  @media (max-width: 720px) {
    .user__menu {
      position: absolute;
      top: calc(100% + 20px);
      left: 0%;
      width: 220px;
      padding: 20px;
      left: -9999px;
      background-color: #fff;
      -webkit-box-shadow: 0 1px 4px 0 rgba(76, 76, 76, 0.6);
      box-shadow: 0 1px 4px 0 rgba(76, 76, 76, 0.6);
      opacity: 0;
      -webkit-transition: opacity 0.3s ease-in-out;
      -o-transition: opacity 0.3s ease-in-out;
      transition: opacity 0.3s ease-in-out; }
      .user__menu:before {
        content: '';
        position: absolute;
        bottom: 100%;
        left: 0;
        display: block;
        width: 100%;
        height: 21px; } }

.user__menu-item:hover {
  cursor: pointer;
  color: #8183c2; }

.user__avatar {
  width: 48px;
  height: 48px;
  margin-right: 10px;
  border-radius: 100%;
  overflow: hidden;
  cursor: pointer; }
  .user__avatar img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
  @media (max-width: 400px) {
    .user__avatar {
      width: 38px;
      height: 38px;
      margin-right: 0; } }

.user__menu-item a {
  display: block;
  padding: 3px; }

.bookmarks,
.cart__link {
  position: relative;
  width: 48px; }
  @media (max-width: 400px) {
    .bookmarks,
    .cart__link {
      width: 38px; } }

.score {
  position: absolute;
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  font-size: 10px;
  text-align: center;
  line-height: 17px;
  color: #fff; }

.bookmarks__score {
  top: 0;
  left: 0;
  background-color: #c63b3b; }

.cart__link-score {
  left: -5px;
  bottom: 0;
  background-color: #656798; }

/*navigation*/
.header__nav {
  background-color: #d05252; }
  @media (max-width: 720px) {
    .header__nav {
      position: fixed;
      left: -100%;
      top: 0;
      bottom: 70px;
      width: 80%;
      height: 100%;
      padding-top: 20px;
      background-color: #fff;
      z-index: 100;
      -webkit-transition: left .3s ease;
      -o-transition: left .3s ease;
      transition: left .3s ease; }
      .header__nav .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        height: 100%; }
      .header__nav.open {
        left: 0; } }

.nav__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  z-index: 10; }
  @media (max-width: 720px) {
    .nav__list {
      display: block;
      margin: 0 -20px;
      background-color: #d05252; } }

.nav__item {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  text-align: center;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }
  .nav__item.current {
    background-color: #c63b3b; }
  .nav__item.accent {
    background-color: #e78f84; }
  .nav__item:hover {
    background-color: #656798; }
  @media (max-width: 720px) {
    .nav__item {
      text-align: left; } }

.nav__link {
  display: block;
  padding: 0.5em;
  font-size: 1.2em;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff; }

/*dropdown*/
.dropdown:hover .dropdown__wrap {
  left: 0;
  opacity: 1; }

.dropdown__wrap {
  position: absolute;
  padding: 20px;
  top: 100%;
  left: -9999px;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 4px 0 rgba(76, 76, 76, 0.6);
  box-shadow: 0 1px 4px 0 rgba(76, 76, 76, 0.6);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out; }
  @media (max-width: 720px) {
    .dropdown__wrap {
      /* max-height: 100vh; */
      position: fixed;
      top: 0;
      height: 100%;
      overflow: auto; } }

.dropdown__pic {
  padding-right: 10px; }
  .dropdown__pic a {
    display: block;
    height: 100%; }
    .dropdown__pic a img {
      height: 100%;
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
  @media (max-width: 880px) {
    .dropdown__pic {
      display: none; } }

.dropdown__col {
  padding: 0 10px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0px;
  flex: 1 1 0; }
  .dropdown__col.double {
    -webkit-box-flex: 2;
    -ms-flex: 2 1 1px;
    flex: 2 1 1px; }
    .dropdown__col.double .dropdown__list {
      -webkit-column-count: 2;
      column-count: 2;
      -webkit-column-gap: 20px;
      column-gap: 20px; }
      @media (max-width: 720px) {
        .dropdown__col.double .dropdown__list {
          -webkit-column-count: 1;
          column-count: 1; } }
      .dropdown__col.double .dropdown__list .dropdown__item {
        display: inline-block;
        width: 100%; }
    @media (max-width: 720px) {
      .dropdown__col.double {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
        margin-top: 20px; } }
  @media (max-width: 720px) {
    .dropdown__col {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
      flex: 1 1 100%; } }

.dropdown__item {
  position: relative;
  z-index: 1; }
  .dropdown__item:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
  .dropdown__item:hover:after {
    background-color: #e3e3f2; }

.dropdown__link,
.submenu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: left;
  width: 100%;
  padding: 4px 0;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }
  .dropdown__link .link-count,
  .submenu__link .link-count {
    vertical-align: bottom;
    color: #626262;
    padding-left: 4px; }

.dropdown__title {
  padding-bottom: 0.8em;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #000;
  font-weight: 700;
  text-transform: uppercase;
  text-align: initial; }

/*dropdown submenu*/
.submenu {
  padding-left: 14px; }
  .submenu:before {
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%) rotateZ(-45deg);
    -ms-transform: translateY(-50%) rotate(-45deg);
    transform: translateY(-50%) rotateZ(-45deg);
    left: 1px;
    width: 7px;
    height: 7px;
    border-left: 2px solid #626262;
    border-bottom: 2px solid #626262;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
  .submenu:hover {
    z-index: 2; }
    .submenu:hover .submenu__list {
      right: 0;
      opacity: 1; }

.submenu__list {
  position: absolute;
  top: 100%;
  right: 9999px;
  padding: 10px 12px 14px 12px;
  max-width: 80%;
  width: 100%;
  background-color: #f5f5ff;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out; }

@media (max-width: 720px) {
  .main {
    margin-top: 80px; } }

.footer {
  padding: 30px 0 20px 0;
  background-color: #c63b3b;
  color: #fff; }

.footer__col {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 20%;
  flex: 0 1 20%;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media (max-width: 1000px) {
    .footer__col {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
      flex: 0 1 30%;
      margin-bottom: 30px; }
      .footer__col.footer-net, .footer__col.payment {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 30%;
        flex: 0 1 30%;
        margin-bottom: 0; } }
  @media (max-width: 1000px) and (max-width: 720px) {
    .footer__col {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
      flex: 1 1 100%;
      margin-bottom: 0; }
      .footer__col.footer-net, .footer__col.payment {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
        flex: 0 1 50%;
        margin-top: 18px; }
        .footer__col.footer-net .footer__title:after, .footer__col.payment .footer__title:after {
          display: none; } }
    @media (max-width: 1000px) and (max-width: 720px) and (max-width: 400px) {
      .footer__col.footer-net, .footer__col.payment {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%; } }

.footer__title {
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 15px; }
  @media (max-width: 720px) {
    .footer__title {
      cursor: pointer; }
      .footer__title:after {
        content: '\25BC';
        display: inline-block;
        vertical-align: bottom;
        margin-left: 10px; } }

@media (max-width: 720px) {
  .footer__list {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out; }
    .footer__list.open {
      max-height: 500px;
      margin-bottom: 20px; } }

.footer__list + .footer__title {
  margin-top: auto; }

.footer__item a, .footer-net__item a {
  display: block;
  padding: 3px 0; }
  .footer__item a > *, .footer-net__item a > * {
    vertical-align: bottom; }
  .footer__item a > img, .footer-net__item a > img {
    margin-right: 10px; }

.payment__item {
  width: 55px;
  padding: 0 5px;
  margin-bottom: 10px; }

.footer__bottom {
  margin-top: 30px; }
  @media (max-width: 500px) {
    .footer__bottom {
      display: block;
      text-align: center; }
      .footer__bottom p {
        display: inline;
        vertical-align: bottom; } }

.search__wrap {
  margin-top: 10px; }
  @media (max-width: 720px) {
    .search__wrap {
      position: absolute;
      width: calc(100% - 40px);
      left: -9999px;
      opacity: 0;
      top: 100%;
      z-index: 100;
      -webkit-transition: opacity .3s ease-in-out;
      -o-transition: opacity .3s ease-in-out;
      transition: opacity .3s ease-in-out; }
      .search__wrap.open {
        left: 20px;
        opacity: 1; } }

.search__form-label {
  position: relative;
  display: block; }
  @media (max-width: 720px) {
    .search__form-label {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.search-form__button {
  position: absolute;
  top: 0;
  left: 0;
  width: 3em;
  height: 100%;
  text-indent: -9999px;
  background: url(../img/search.svg) center center/auto 80% no-repeat; }
  @media (max-width: 720px) {
    .search-form__button {
      position: relative;
      width: auto;
      padding: .7em 1.4em;
      border-radius: 25px;
      margin-left: 10px;
      text-transform: uppercase;
      color: #fff;
      font-weight: 700;
      text-indent: 0;
      background: #8183c2; } }

.search__form-input {
  display: block;
  padding: .5em 1em .5em 3em;
  border-radius: 25px;
  background-color: #dddddd; }

.user__login {
  position: absolute;
  left: -9999px;
  top: calc(100% + 14px);
  min-width: 222px;
  width: 100%;
  padding: 16px;
  background-color: #fbfbfb;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.47);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.47);
  opacity: 0;
  -webkit-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
  z-index: 100; }
  .user__login.open {
    left: 0;
    opacity: 1; }
    @media (max-width: 400px) {
      .user__login.open {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%); } }

.user__title {
  margin-bottom: 10px;
  font-weight: 700; }

.form__row {
  position: relative;
  margin-bottom: 14px; }
  .form__row:last-of-type {
    margin-bottom: 0; }
  .form__row.password [type="password"] {
    padding: 4px 25px 4px 4px; }
  .form__row.password:after {
    content: '';
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 20px;
    height: 11px;
    background: url(../img/misc/eye.svg) center center/contain no-repeat; }

.form__label {
  position: relative;
  display: block;
  margin-bottom: 5px; }

.form__input {
  display: block;
  width: 100%;
  padding: 5px;
  border: 1px solid #757575; }

.btn {
  padding: 5px 1.4em;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  background-color: #8183c2; }

.btn-link {
  padding: 5px 4px 5px 9px; }

.close {
  position: absolute;
  right: -7px;
  top: -7px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 1.5em; }

.menu-trigger {
  display: none;
  position: relative;
  width: 35px;
  height: 28px;
  padding: 12px 0;
  border-radius: 4px;
  background-clip: content-box;
  background-color: #222;
  cursor: pointer; }
  .menu-trigger:before, .menu-trigger:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #222; }
  .menu-trigger:before {
    top: 0; }
  .menu-trigger:after {
    bottom: 0; }
  @media (max-width: 720px) {
    .menu-trigger {
      display: block; } }

/*# sourceMappingURL=main.css.map */