.header {
  display: flex;
  flex-direction: column;
  // margin-bottom: 16px;
}

.header__top {
  padding-top: 5px;
  background-color: $mist;
  @include bp(720px) {
    display: none;
  }
}

.adds {
  background-color: $mist;
  padding: 20px;
  margin: 0 -20px;
  .region,
  .header__adress,
  .chain,
  .email {
    margin-bottom: 20px;
  }
}
.net {
  margin-top: -5px;
}
.net-item {
  margin-right: 8px;
  &:last-child {
    margin-right: 0;
  }
}

.you-region {
  position: relative;
  padding-right: 10px;
  text-decoration: underline;
  cursor: pointer;
  &:after {
    content: "\25BC";
    @include center(y);
    right: -3px;
  }
}

.header__main {
  padding: 14px 0;
  @include bp(720px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 100;
  }
}

.logo {
  flex: 0 1 40%;
  @include bp(720px) {
    display: flex;
    align-items: center;
    flex: 0 1 40%;
  }
}

.logo__pic {
  display: inline-block;
  vertical-align: middle;
  img {
    vertical-align: baseline;
    margin-right: 8px;
    @include bp(400px) {
      margin-right: 0;
    }
  }
}

.logo__text {
  @include bp(720px) {
    display: none;
  }
}

.search__open-btn {
  display: none;
  @include bp(720px) {
    width: 40px;
    height: auto;
    display: block;
  }
}

/*phones*/
.phones {
  @include bp(720px) {
    display: none;
  }
}
.phones__item {
  margin-bottom: 8px;
  color: #333;
  a {
    font-weight: 700;
    font-size: 1.2em;
    color: #000;
  }
  &:last-child {
    margin-bottom: 0;
    a {
      font-size: 0.9em;
      color: $text;
    }
    img {
      margin-right: 5px;
    }
  }
}

/*user*/

.user {
  position: relative;
}

.user__wrap {
  @include bp(720px) {
    &:hover {
      .user__menu {
        left: 0;
        opacity: 1;
        @include bp(400px) {
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}

.user__menu {
  position: relative;
  z-index: 100;
  @include bp(720px) {
    position: absolute;
    top: calc(100% + 20px);
    left: 0%;
    width: 220px;
    padding: 20px;
    left: -9999px;
    background-color: #fff;
    box-shadow: 0 1px 4px 0 rgba(76, 76, 76, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    &:before {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 0;
      display: block;
      width: 100%;
      height: 21px;
    }
  }
}

.user__menu-item {
  &:hover {
    cursor: pointer;
    color: $btn;
  }
}

.user__avatar {
  width: 48px;
  height: 48px;
  margin-right: 10px;
  border-radius: 100%;
  overflow: hidden;
  cursor: pointer;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @include bp(400px) {
    width: 38px;
    height: 38px;
    margin-right: 0;
  }
}

.user__menu-item {
  a {
    display: block;
    padding: 3px;
  }
}

.bookmarks,
.cart__link {
  position: relative;
  width: 48px;
  @include bp(400px) {
    width: 38px;
  }
}

.score {
  position: absolute;
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  font-size: 10px;
  text-align: center;
  line-height: 17px;
  color: #fff;
}
.bookmarks__score {
  top: 0;
  left: 0;
  background-color: $second;
}
.cart__link-score {
  left: -5px;
  bottom: 0;
  background-color: $third;
}

/*navigation*/

.header__nav {
  background-color: $primary;
  @include bp(720px) {
    position: fixed;
    left: -100%;
    top: 0;
    bottom: 70px;
    width: 80%;
    height: 100%;
    // height: calc(100% + 70px);
    padding-top: 20px;
    background-color: #fff;
    z-index: 100;
    transition: left 0.3s ease;
    .container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      // height: calc(100% - 100px);
    }
  }
  &.open {
    left: 0;
    width: 80%;
    @include bp(400px){
      width: 100%;
    }   
  }
  &.fixed {
    @media (min-width: 720px) {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 101;
    }
  }
}
.main.fixed {
  margin-top: 50px;
}

.nav__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  z-index: 10;
  @include bp(720px) {
    display: block;
    margin: 0 -20px;
    background-color: $primary;
  }
}
.nav__item {
  flex: 1 1 auto;
  text-align: center;
  transition: 0.3s ease-in-out;
  &.current {
    background-color: $second;
  }
  &.accent {
    background-color: $light;
  }
  &:hover {
    background-color: $third;
  }
  @include bp(720px) {
    text-align: left;
  }
}

.nav__link {
  display: block;
  padding: 0.5em 1em;
  font-size: 1.2em;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

/*dropdown*/

.dropdown {
  &:hover {
    .dropdown__wrap  {
      left: 0;
      opacity: 1;
      @include bp(720px) {
        left: -9999px;
        opacity: 0;
      }
      &.open {
        left: 0;
        opacity: 1;
      }
    }
  }
  @include bp(720px){
    display: flex;     
  }
}

.dropdown__wrap {
  position: absolute;
  padding: 20px;
  top: 100%;
  left: -9999px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 4px 0 rgba(76, 76, 76, 0.6);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  @include bp(720px) {
    position: fixed;
    top: 0;
    height: 100%;
    overflow: auto;
    width: 80%;
    padding: 40px 20px 20px 20px;
  }
  @include bp(400px){
    width: 100%;
  }
  &.open {  
    left: 0;
    opacity: 1;
  }
}

.dropdown__pic {
  padding-right: 10px;
  a {
    display: block;
    height: 100%;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  @include bp(880px) {
    display: none;
  }
}

.dropdown__col {
  padding: 0 10px;
  flex: 1 1 0;
  &.double {
    flex: 2 1 1px;
    .dropdown__list {
      column-count: 2;
      column-gap: 20px;
      @include bp(720px) {
        column-count: 1;
      }
      .dropdown__item {
        display: inline-block;
        width: 100%;
      }
    }
    @include bp(720px) {
      flex: 1 1 100%;
      margin-top: 20px;
      padding: 0;
    }
  }
  @include bp(720px) {
    flex: 1 1 100%;
    padding: 0;
  }
}

.dropdown__item {
  position: relative;
  z-index: 1;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: 0.3s ease-in-out;
  }
  &:hover {
    &:after {
      background-color: $haze;
    }
    &:before {
       transform: translateY(-50%) rotateZ(135deg);
    }
  }
}

.dropdown__link,
.submenu__link {
  display: flex;
  align-items: flex-start;
  text-align: left;
  width: 100%;
  padding: 4px 0;
  transition: 0.3s ease-in-out;
  .link-count {
    vertical-align: bottom;
    color: $text;
    padding-left: 4px;
  }
}

.dropdown__title {
  padding-bottom: 0.8em;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #000;
  font-weight: 700;
  text-transform: uppercase;
  text-align: initial;
}

/*dropdown submenu*/

.submenu {
  display: flex;
  padding-left: 14px;
  &:before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotateZ(-45deg);
    left: 1px;
    width: 7px;
    height: 7px;
    border-left: 2px solid $text;
    border-bottom: 2px solid $text;
    transition: 0.3s ease-in-out;
  }
  &:hover {
    z-index: 2;
    .submenu__list {
      right: 0;
      opacity: 1;
      @include bp(720px) {
        right: -9999px;
        opacity: 0;
      }
      &.open {
        right: 0;
        opacity: 1;
      }
    }
  }
  @include bp(720px) {
    padding-left: 0;
    &:before {
      display: none;
    }
  }
  .dropdown__link {
    width: auto;
  }
}

.submenu__list {
  position: absolute;
  top: 100%;
  right: 9999px;
  padding: 10px 12px 14px 12px;
  max-width: 80%;
  width: 100%;
  background-color: #f5f5ff;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 2;
  &.open {
    right: 0;
    opacity: 1;
  }
  @include bp(400px) {
    max-width: 400px;
  }
}
