/*product page*/
.columns {
  column-count: 2;
  column-gap: 20px;
  @include bp(720px) {
    column-count: 1;
    column-gap: 0;
    display: flex;
    flex-direction: column;
  }
}

.product__galery {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  height: auto;
  .catalog__price {
    position: absolute;
    bottom: -10px;
    right: 0;
    width: 100%;
    z-index: 2;
    font-size: 14px;
  }
}

.product__galery-img {
  padding-bottom: 100%;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.product__galery-wrap {
  width: calc(100% - 80px);
  padding-bottom: 20px;
  @include bp(720px) {
    width: 100%;
  }
}

.product__thumbs {
  position: relative;
  width: 60px;
  height: 460px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include bp(720px) {
    display: none;
  }
}

.product__thumbs-wrap {
  max-height: 400px;
  @include bp(720px) {
    display: none;
  }
}

.product__thumbs-pic {
  // flex: 0 1 60px;
  width: 60px;
  height: 60px;
  overflow: hidden;
}

.product__additional {
  break-after: avoid;
  break-inside: avoid;
  .catalog__item {
    flex: 0 1 33.333%;
    @include bp(720px) {
      flex: 0 1 50%;
    }
    @include bp(500px) {
      flex: 0 1 100%;
    }
  }
  @include bp(720px) {
    order: 1;
  }
}

.swiper-pagination.product__pagination {
  display: none;
  bottom: 60px;
  .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    border-color: $text;
    box-shadow: none;
  }
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    border-color: #fff;
  }
  @include bp(720px) {
    display: block;
  }
}

.product__button-next,
.product__button-prev {
  left: 50%;
  transform: translateX(-50%);
  &:after {
    font-size: 30px;
    transform: rotate(-90deg);
  }
}

.product__button-next {
  top: 5px;
}

.product__button-prev {
  bottom: 0;
  top: auto;
}
