.main {
 margin-top: 20px;
 margin-bottom: 5%;
 @include bp(720px) {
  margin-top: 80px;
 }
}

.slider {
 min-width: 0;
 flex: 0 1 68%;
 @include bp(720px) {
  flex: 1 1 100%;
  margin-bottom: 20px;
 }
}

.banner__list.row {
 flex: 0 1 30%;
 flex-direction: column;
 justify-content: space-between;
 @include bp(720px) {
  flex: 1 1 100%;
  margin-bottom: 20px;
  flex-direction: row
 }
 .banner__item {
  flex: 0 1 47%;
  @include bp(720px) {
   padding-bottom: 25%;
  } 
 }
}

/*section*/
.section {
 margin: 40px 0;
}

.section__title {
 margin-bottom: 30px;
 font-size: 24px;
 font-weight: 900;
 text-transform: uppercase;
 text-align: center;
 * {
  display: inline-block;
  vertical-align: baseline;
 }
 a {
  font-size: 14px;
  font-weight: 400;
  text-decoration: underline;
  text-transform: initial;
  color: $primary;
 }
}