.main {
  margin-top: 20px;
  margin-bottom: 5%;
  @include bp(720px) {
    margin-top: 80px;
  }
}

.slider {
  min-width: 0;
  flex: 0 1 68%;
  @include bp(720px) {
    flex: 1 1 100%;
    margin-bottom: 20px;
  }
}

.banner__list.row {
  flex: 0 1 30%;
  flex-direction: column;
  justify-content: space-between;
  @include bp(720px) {
    flex: 1 1 100%;
    margin-bottom: 20px;
    flex-direction: row;
  }
  .banner__item {
    flex: 1 1 47%;
    margin-bottom: 14px;
    @include bp(720px) {
      padding-bottom: 25%;
      margin-bottom: 0;
      margin-right: 14px;
      &-verticle {
        margin-top: 10px;
        padding-bottom: 166%;
      }
    }
    &:last-child,
    &:only-child {
      margin-bottom: 0;
      @include bp(720px) {
        margin-right: 0;
      }
    }
  }
}

.banner__item {
  position: relative;
  padding-bottom: 47.7%;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/*section*/
.section {
  margin: 40px 0;
}

.section__title {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  * {
    display: inline-block;
    vertical-align: baseline;
    letter-spacing: 1px;
    ~ a {
      font-size: 14px;
      font-weight: 400;
      text-decoration: underline;
      text-transform: initial;
      color: $primary;
    }
  }
}

/*action*/

.action {
  .slider {
    margin-right: 1%;
    @include bp(720px) {
      margin-right: 0;
    }
  }
  .banner__list.row {
    margin-top: 10px;
    @include bp(720px) {
      margin-top: 0;
    }
  }
}

/*offers*/

.offers {
  position: relative;
  padding: 30px 0;
  background-color: $light;
  z-index: 0;
}

.offers__slider {
  overflow: visible;
  @include bp(500px) {
    width: 90%;
    overflow: hidden;
  }
}

.offers__list {
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 0;
  @include bp(500px) {
    flex-wrap: nowrap;
  }
}

.offers__item {
  flex: 0 1 32%;
  img,
  a {
    display: block;
    width: 100%;
  }
  @include bp(500px) {
    flex: 0 0 100%;
  }
}

.swiper-button-prev.offers-prev::after,
.swiper-button-next.offers-next::after {
  color: #fff;
}

.offers-pager {
  display: none;
  @include bp(500px) {
    display: block;
  }
}

/*reviews*/
.reviews {
  padding: 20px 0;
  background-color: $haze;
}

.reviews__slider {
  min-width: 0;
  max-width: 85%;
  margin: 0 auto;
  background-color: #fff;
}

.reviews__pic {
  flex: 1 1 25%;
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @include bp(500px) {
    display: none;
  }
}

.reviews__body {
  flex: 1 1 75%;
  padding: 30px;
}
.reviews__autor {
  margin-bottom: 30px;
}
.reviews__autor-name {
  font-weight: 600;
}

.reviews__text {
  line-height: 2;
}

/*trasting*/

.trasting__list {
  display: flex;
  justify-content: space-between;
  min-width: 100%;
  padding: 10px 0;
  overflow: auto;
  background-image: linear-gradient(#ffffff, #ffffff 10px, #e78f84 10px, #e78f84 80%, #ffffff 80%);
  background-size: 95% auto;
  background-repeat: no-repeat;
  background-position: center;
}

.tracting__item {
  min-width: 180px;
  width: 180px;
  padding: 0 10px 15px 10px;
  margin: 0 10px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 0px 6px 0px rgba(61, 61, 61, 0.2), 0px 0px 6px 0px rgba(61, 61, 61, 0.2);
}

.trasting__pic {
  margin-bottom: 15px;
}

.trasting__body {
  p {
    line-height: 1.5;
    hyphens: inherit;
  }
}

.trasting__title {
  line-height: 1.5;
  text-transform: uppercase;
  font-weight: 700;
}

.news {
  @include bp(500px) {
    a {
      display: none;
    }
    .title-button {
      display: block;
      color: #fff;
      padding: 0.4em 1em;
      background-color: $btn;
      &.accent {
        background-color: $second;
      }
    }
  }
}

.news__inner,
.blog__inner {
  flex: 0 1 48%;
  @include bp(500px) {
    flex: 1 1 100%;
  }
  .news__item,
  .blog__item {
    @include bp(500px) {
      display: none;
    }
  }
}

.blog__inner {
  @include bp(500px) {
    .section__title {
      margin-bottom: 0;
    }
  }
}

/*care*/

.care__nav {
  margin: 30px 0;
}

ul.care__nav-list {
  padding: 10px 0;
  border-top: 1px solid $text;
  border-bottom: 1px solid $text;
  column-count: 3;
  break-inside: avoid;
  @include bp(600px) {
    column-count: 1;
  }
  li {
    margin-bottom: 0;
    transition: 0.3s ease-in-out;
    list-style: none;
    margin: 0;
    @include bp(600px) {
      &.hide {
        display: none;
        opacity: 0;
      }
      &.show {
        display: block;
        opacity: 1;
      }
    }
    &:before {
      display: none;
    }
    a {
      display: block;
      padding: 5px 0;
      font-size: 12px;
      font-weight: 600;
      color: $btn;
    }
  }
}

.care__item-btn {
  display: block;
  width: 100%;
  text-align: left;
  line-height: 1.45;
  color: $btn;
  cursor: pointer;
}

ul.care__table {
  padding-bottom: 20px;
  border-bottom: 1px solid $text;
  li {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    line-height: 1.3;
    font-size: 12px;
  }
}

.care__item-title {
  font-weight: 600;
  color: $btn;
}
/*search page form*/
.search-page__filteres,
.search-page__sorting {
  .form__label {
    margin-bottom: 0;
    height: 100%;
  }
  select {
    height: 100%;
  }
  @include bp(800px) {
    .col {
      margin-bottom: 10px;
    }
  }
}

.search-page__filteres {
  padding-bottom: 20px;
  border-bottom: 1px solid $mist;
  margin-bottom: 30px;
}

.search-page__sorting {
  margin-bottom: 20px;
  justify-content: flex-end;
  .form__label {
    margin: 0 5px 5px 0;
  }
  @include bp(800px) {
    margin-bottom: 0;
  }
}
