.simpleregister {
  [data-valid="false"] {
    color: $second;
    border: 1px solid;
    + .dropdown-menu {
      color: $second;
    }
  }

  ul.dropdown-menu {
    margin: 5px 0;
    li {
      list-style: none;
      a:only-child {
        display: block;
        text-decoration: none;
      }
    }
  }

  .form__label {
    margin-bottom: 10px;
  }
}

.simplecheckout-rule-group {
  margin-top: 5px;
}

.simplecheckout-error-text.simplecheckout-rule {
  color: $second;
}

.simpleregister-button-block.buttons {
  margin-top: 15px;
}
