/*Clients page*/
// .contacts .content {
//   padding: 30px 10px;
// }

.content__row {
  display: flex;
  flex-wrap: wrap;
  margin: 2em 0;
  > * {
    max-width: 50%;
    margin-right: 0.8em;
    &:last-of-type {
      margin-right: 0;
      margin-bottom: 0;
    }
    @include bp(600px) {
      max-width: 100%;
      width: 100%;
      margin-bottom: 0.8em;
      margin-right: 0;
    }
  }
}

.content__col {
  flex: 1 1 0;
}

.content {
  ul,
  ol {
    margin: 20px 0;
    list-style: disc inside none;
    li {
      margin-bottom: 10px;
      font-size: inherit;
      line-height: 1.2;
    }
  }
  ol {
    list-style-type: decimal;
  }
  @include bp(600px) {
    padding: 20px 0;
  }
  p {
    margin: 10px 0;
  }
  > a {
    color: $btn;
  }
}

.content__inner {
  margin: 30px 0;
  a.btn {
    margin-right: 10px;
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.content__title {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 18px;
  color: $second;
  font-weight: 700;
}
.content__subtitle {
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid;
}
.content__citation {
  font-weight: 700;
  margin-bottom: 30px;
}

.content__img {
  display: flex;
  flex-wrap: wrap;
  margin: 2em 0;
  img {
    flex: 1 1 0;
  }
}

/*account*/

.account {
  .content {
    @include bp(600px) {
      padding: 20px 0;
    }
    > a {
      color: $btn;
    }
  }
  a.toright {
    display: block;
    color: $btn;
    font-weight: 600;
    margin: 10px 0 20px 0;
  }
}

.account__row {
  @extend %row;
  align-items: center;
  padding: 5%;
  font-size: 18px;
  @include bp(800px) {
    text-align: center;
  }
}

.content__lead {
  @extend .content__title;
  color: #000;
}

.wish__catalog {
  .catalog__item {
    flex: 0 1 25%;
    @include bp(600px) {
      flex: 0 1 50%;
    }
  }
}

.adress__row {
  @extend %row;
  justify-content: space-between;
  margin-bottom: 30px;
}

.adress__col {
  display: flex;
  flex-direction: column;
  flex: 0 1 32%;
  padding: 15px;
  font-size: 12px;
  line-height: 1.5;
  background-color: $haze;
  @include bp(600px) {
    flex: 0 1 100%;
    margin-bottom: 20px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.adress__text {
  margin-bottom: 20px;
}

.adess__change {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  > * {
    width: 50%;
    text-align: center;
  }
}

.content__form {
  width: 60%;
  margin-top: 5%;
  @include bp(600px) {
    width: 100%;
  }
  .form__row {
    margin-bottom: 30px;
  }
}

.content__pic {
  width: 50%;
  margin: -6% 0 0 auto;
  @include bp(600px) {
    width: 100%;
    margin: 30px 0;
  }
}

.content__tabs {
  margin: 0 -10px;
  .r-tabs-tab {
    flex: 0 1 25%;
  }
  .r-tabs-tab.r-tabs-state-default {
    border: 1px solid transparent;
    border-bottom: 1px solid $mist;
  }
  .r-tabs-tab.r-tabs-state-active {
    border: 1px solid $mist;
    border-bottom: none;
  }
  .r-tabs-anchor {
    display: block;
    padding: 10px 5px;
    font-size: 12px;
    font-weight: 600;
    color: $btn;
    text-align: center;
  }
  .tabs-container {
    border: 1px solid $mist;
    border-top: none;
    .content__row {
      margin: 0 0 10px 0;
      font-size: 13px;
    }
  }
}

.logout__text {
  margin-bottom: 10%;
  font-size: 16px;
  .btn {
    margin-top: 30px;
  }
}

.logout__pic.col {
  margin-left: auto;
  margin-top: -13%;
  @include bp(600px) {
    margin-left: 0;
    margin-top: 0;
  }
}

/*login*/

.login__row {
  font-size: 14px;
  .col {
    padding: 20px 20px 15px 20px;
  }
}

.login__exist {
  background-color: darken($haze, 3%);
  form {
    margin-top: 15px;
  }
}

.login__registration {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: $haze;
}
.login__text {
  margin: 20px 0;
}

.login__aside {
  background-color: #e4e7e9;
}
