.cart__table {
  position: relative;
}

#order {
  @include bp(800px) {
    .order__date,
    .order__deliv,
    .order__pay {
      display: none;
    }
  }
  .order__wait {
    background-color: $haze;
  }
  .order__ready {
    background-color: $order;
  }
}

#order-onfo {
  @include bp(800px) {
    .order__date,
    .order__deliv,
    .order__pay {
      display: block;
    }
  }
  p {
    margin: 0 0 10px 0;
  }
}

#order-list,
#order-history {
  width: 100%;
  p {
    margin: 0 0 10px 0;
  }
}

.table__caption {
  padding: 5px 10px;
  margin-bottom: 10px;
  font-weight: 600;
  background-color: #e4e7e9;
  font-size: 15px;
}

.table-wrap {
  margin-bottom: 30px;
  @include bp(600px) {
    margin: 0 -5px;
  }
}

.cart__row {
  position: relative;
  @extend %row;
  justify-content: space-between;
  padding: 20px 0;
  border-top: 1px solid $mist;
  border-bottom: 1px solid $mist;
  @include bp(800px) {
    padding: 10px 0;
  }
}

.cart__thumb {
  width: 18%;
}

.cart__staff {
  width: 80%;
  padding: 15px 10px 5px 10px;
  @extend %row;
  justify-content: space-between;
  > * {
    width: 48%;
  }
  a {
    color: $cart-btn;
  }
  @include bp(800px) {
    padding: 0 0 0 10px;
  }
}

.cart__product-name {
  line-height: 1.4;
  @include bp(800px) {
    margin-bottom: 25px;
    padding-right: 25px;
    width: 100%;
    order: 1;
    font-size: 12px;
  }
}

.cart__product-amount {
  position: relative;
  .caption {
    margin-top: -15px;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 1;
  }
  .quantity {
    max-width: 120px;
  }
  @include bp(800px) {
    .caption {
      margin-top: -13px;
      margin-bottom: 5px;
    }
    order: 3;
  }
}

.cart__product-price {
  @include bp(800px) {
    order: 2;
  }
}

.cart__product-cost {
  font-weight: 600;
  font-size: 16px;
  @include bp(800px) {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 20px;
    font-size: 14px;
    order: 4;
    * {
      margin-right: 8px;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

.cart__cost-new,
.cart__new-price {
  font-weight: 700;
  color: #ff0000;
}

.cart__trade-price,
.cart__defolt-price {
  font-weight: 700;
  span {
    font-size: 12px;
    font-weight: 400;
  }
}

.cart__cost-old,
.cart__old-price {
  font-size: 14px;
  text-decoration: line-through;
}

.cart__delete-btn {
  position: absolute;
  top: 0;
  right: 0;
}

.cart__asidewidget {
  padding: 20px 15px;
  background-color: #e4e7e9;
  .row {
    align-items: center;
    margin-bottom: 10px;
    .col {
      flex: 0 1 48%;
      margin-bottom: 0;
    }
  }
  input {
    width: auto;
    border: 1px solid #000;
    text-transform: uppercase;
    background-color: #fff;
    text-align: center;
  }
  .cart__points {
    width: 40px;
    padding: 1px;
    font-size: 12px;
  }
  .discount-cupon {
    padding: 2px;
    font-size: 14px;
    width: 90px;
  }
  .cart__points-available {
    font-size: 11px;
  }
  .total {
    margin-top: 25px;
  }
  .btn {
    width: 100%;
    margin-top: 10px;
  }
  .delete-cupon {
    width: 28px;
    padding: 5px;
    img {
      display: block;
      width: 100%;
    }
  }
}

.cart__remove-notice.shown {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $light;
}
