.filter__title {
  @extend .opt__title;
}

.filter-list {
  .tags-module {
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
  }
}

.filter-aside {
  padding: 25px 5px 20px 0;
}

.filter-aside__item {
  &.filter-dropdown__container {
    &:before {
      content: "+";
      position: absolute;
      left: 0;
      top: 0.2em;
    }
  }
  a {
    display: block;
    padding: 3px 0 3px 10px;
  }
  .link-count {
    color: $border;
    padding-left: 4px;
  }
  &:hover,
  &.current {
    > a {
      font-weight: 700;
    }
  }
}

.filter-dropdown__container {
  position: relative;
}

.dropdown-aside__list {
  padding-left: 10px;
  max-height: 0;
  overflow: hidden;
  &.open {
    max-height: 550px;
  }
}

.filter-block {
  margin-bottom: 30px;
}

.filter__row {
  margin-bottom: 20px;
  &:last-of-type {
    margin-bottom: 0;
  }
}
.filter-price {
  margin-top: 20px;
  .filter-price__label {
    position: relative;
    padding-left: 20px;
    &:before,
    &:after {
      content: "";
      @include center(y);
    }
    &:before {
      left: 0;
      width: 12px;
      height: 12px;
      border: 1px solid $border;
      border-radius: 100%;
    }
  }
  input[type="radio"]:checked + .filter-price__label {
    &:after {
      left: 3px;
      width: 6px;
      height: 6px;
      border-radius: 100%;
      background-color: $border;
    }
  }
}

/*filter menu*/
.filter__category-list,
.filter__menu-list {
  @extend %row;
  align-items: center;
}

.filter__category-item {
  margin-right: 5px;
  &:last-of-type {
    margin-right: 0;
  }
  input[type="checkbox"]:checked + .filter__category-btn {
    background-color: $haze;
  }
  @include bp(600px) {
    margin-right: 0;
  }
}

.filter__category-btn {
  position: relative;
  display: inline-block;
  padding: 6px 10px 6px 25px;
  &:before {
    content: "";
    @include center(y);
    left: 5px;
    width: 14px;
    height: 14px;
    border-radius: 100%;
  }
  &.novelty {
    &:before {
      background-color: #99c349;
    }
  }
  &.gross {
    &:before {
      background-color: #ecb124;
    }
  }
  &.sale {
    &:before {
      background-color: #c84476;
    }
  }
  &.hit {
    &:before {
      background-color: $btn;
    }
  }
  @include bp(600px) {
    padding: 6px 5px 6px 25px;
  }
}
.filter__menu {
  @include bp(800px) {
    overflow: auto;
    height: 100%;
  }
}

.filter__menu-list {
  // justify-content: space-between;
  align-items: center;
  @include bp(800px) {
    display: block;
  }
}
.filter__menu-item {
  position: relative;
  margin-right: 15px;
  cursor: pointer;
}
.filter__menu-btn {
  position: relative;
  display: block;
  padding: 5px 15px 5px 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  &:after {
    content: "";
    position: absolute;
    top: 40%;
    right: 0;
    transform: translateY(-50%) rotate(-45deg);
    width: 8px;
    height: 8px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    @include bp(800px) {
      display: none;
    }
  }
  @include bp(800px) {
    padding: 7px;
    margin-bottom: 10px;
    color: #fff;
    font-weight: 700;
    background-color: $btn;
    overflow: hidden;
  }
}

.filter__menu-dropdown {
  position: absolute;
  width: 250px;
  top: 100%;
  right: 999999px;
  transform: translateX(50%);
  padding: 12px 15px;
  margin-top: 15px;
  background-color: #fff;
  filter: drop-shadow(0px 0px 2px rgba(86, 86, 86, 0.5));
  z-index: 2;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  &:before {
    content: "";
    @include center(x);
    bottom: 100%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8.5px 12px 8.5px;
    border-color: transparent transparent #ffffff transparent;
    @include bp(800px) {
      display: none;
    }
  }
  @include bp(800px) {
    position: relative;
    width: 100%;
    opacity: 1;
    transform: none;
    margin: 5px 0;
    filter: none;
  }
  .range-slider {
    margin-bottom: 10px;
  }
  &.open {
    right: 0;
    opacity: 1;
  }
  &.column {
    width: 300px;
    @include bp(800px) {
      width: 100%;
    }
  }
}

.filter-area {
  display: flex;
  justify-content: space-between;
  @include bp(800px) {
    flex-wrap: wrap;
  }
}

.filter__trigger {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0;
  .pagination {
    margin-left: 10px;
  }
  @include bp(800px) {
    justify-content: flex-start;
    margin: 20px 0;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.filter__list {
  column-count: 2;
}

.filter__item {
  margin-bottom: 8px;
  @extend %row;
  align-items: center;
  break-inside: avoid;
  page-break-inside: avoid;
  page-break-before: avoid;
  position: relative;
  -webkit-column-break-inside: avoid;
  -webkit-backface-visibility: hidden;
  input {
    width: auto;
    margin-right: 5px;
  }
  input[type="checkbox"]:checked + .filter__label {
    &:after {
      border-color: $btn;
    }
  }
  input[type="radio"]:checked + .filter__label {
    &:after {
      border-color: $btn;
    }
  }
}

.filter__label {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 20px;
  span {
    display: inline-block;
    vertical-align: middle;
  }
  &:before {
    content: "";
    position: absolute;
    top: 1px;
    left: 0;
    width: 10px;
    height: 10px;
    border: 1px solid $border;
  }
  &:after {
    content: "";
    position: absolute;
    left: 1px;
    top: -1px;
    width: 5px;
    height: 10px;
    border-left: 2px solid transparent;
    border-bottom: 2px solid transparent;
    transform: rotate(-45deg);
  }
}

.filter__label-color {
  width: 14px;
  height: 14px;
  margin-right: 10px;
  border-radius: 100%;
}

/*mobile filtres*/

.filter-nav {
  position: relative;
  @include bp(800px) {
    position: fixed;
    top: 0;
    left: -100%;
    width: 95%;
    height: 100%;
    padding: 40px 10px 10px 10px;
    z-index: 100;
    box-shadow: 0px 0px 4px 0px rgba(86, 86, 86, 0.5);
    transition: left 0.3s ease-in-out;
    background-color: #fff;
  }
  &.open {
    left: 0;
  }
}

.filter-nav__close {
  @extend .close;
}

.filter-trigger {
  @extend .btn-small;
  margin-right: 0;
  margin-left: 10px;
}
