/*product page*/
.columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product__slider {
  flex: 0 1 49%;
  min-width: 0;
  min-height: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #000;
  margin-bottom: 20px;
  @include bp(800px) {
    flex: 0 1 100%;
  }
}

.product__info,
.product__common {
  position: relative;
  flex: 0 1 49%;
  font-size: 14px;
  // z-index: 1;
  @include bp(800px) {
    flex: 0 1 100%;
    margin-bottom: 20px;
  }
}

.product__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}

.product__common {
  @include bp(800px) {
    order: 1;
  }
}

.product__additional {
  flex: 0 1 49%;
  min-width: 0px;
  @include bp(800px) {
    flex: 0 1 100%;
  }
  .catalog__item {
    flex: 0 1 33.333%;
    @include bp(800px) {
      flex: 0 1 50%;
    }
    @include bp(500px) {
      flex: 0 1 100%;
    }
  }
  .swiper-container {
    .catalog__item {
      flex: none;
      .catalog__info {
        display: none;
      }
    }
  }
}

.product__galery {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  height: auto;
  .catalog__price {
    position: absolute;
    bottom: -10px;
    right: 0;
    width: 100%;
    z-index: 2;
    font-size: 14px;
  }
}

.product__galery-img {
  padding-bottom: 100%;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.product__galery-wrap {
  width: calc(100% - 80px);
  padding-bottom: 20px;
  margin-bottom: 20px;
  @include bp(800px) {
    width: 100%;
  }
  .icon-zoom-in {
    position: absolute;
    right: 0;
    bottom: 12%;
    z-index: 2;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.9);
    pointer-events: none;
    text-shadow: 1px 1px 8px rgba(#000, 0.9);
    @include bp(800px) {
      top: 5%;
      bottom: auto;
    }
  }
}

.product__thumbs {
  position: relative;
  width: 60px;
  height: 460px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include bp(800px) {
    display: none;
  }
}

.product__thumbs-wrap {
  max-height: 400px;
  @include bp(800px) {
    display: none;
  }
}

.product__thumbs-pic {
  // flex: 0 1 60px;
  width: 60px;
  height: 60px;
  overflow: hidden;
  a {
    display: block;
  }
}

.swiper-pagination.product__pagination {
  display: none;
  bottom: 60px;
  .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    border-color: $text;
    box-shadow: none;
  }
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    border-color: #fff;
  }
  @include bp(800px) {
    display: block;
  }
}

.product__button-next,
.product__button-prev {
  left: 50%;
  transform: translateX(-50%);
  &:after {
    font-size: 30px;
    transform: rotate(-90deg);
  }
}

.product__button-next {
  top: 5px;
}

.product__button-prev {
  bottom: 0;
  top: auto;
}

/*descr*/

.product__title {
  padding-bottom: 10px;
  border-bottom: 1px solid;
  margin-bottom: 10px;
  font-size: 1.3em;
  font-weight: 700;
  line-height: 1.45;
  text-align: center;
}

.product__subtitle {
  margin: 0 0 10px 10px;
  font-size: 16px;
  font-weight: 700;
}

.product__descr {
  position: relative;
  min-height: 90px;
  z-index: 11;
}

.product__descr-wrap {
  position: absolute;
  display: flex;
  flex-direction: column;
}

.product__descr-text {
  max-height: 60px;
  overflow: hidden;
  left: 0;
  top: 100%;
  width: 100%;
  padding: 0 5px;
  transition: max-height 0.5s ease-in-out;
  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 70%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white);
    z-index: 1;
  }
  &.open {
    max-height: 500px;
    overflow: auto;
    background-color: #fff;
    &::after {
      display: none;
    }
  }
}

.product__descr-btn {
  position: relative;
  width: 100%;
  padding: 10px 5px;
  margin-top: auto;
  font-size: 12px;
  text-align: center;
  color: $btn;
  background-color: $haze;
  cursor: pointer;
  z-index: 1;
}

.product__color {
  margin: 20px 0;
  .color-slider {
    position: relative;
    width: 500px;
    max-width: 70%;
    @include bp(1100px) {
      width: 400px;
    }
    @include bp(600px) {
      width: 300px;
    }
  }
}

.product__color-slider {
  width: 85%;
  margin: 0 auto;
}

.product__pic {
  img {
    display: block;
    width: 100%;
  }
  &.triggers {
    margin: 20px 0;
  }
}

/*product__tabs*/
.product__tabs {
  font-size: 14px;
  @include bp(600px) {
    font-size: 12px;
  }
  .r-tabs-tab {
    flex: 0 1 20%;
  }
  .r-tabs-tab.r-tabs-state-default {
    border: 1px solid transparent;
    border-bottom: 1px solid #000;
    color: #fff;
  }
  $color-map: (
    1: #ebecf2,
    2: #c2c3d1,
    3: #b7b8c5,
    4: #aeafbb,
    5: #9e9faa
  );
  @each $color, $bg in $color-map {
    .r-tabs-tab:nth-child(#{$color}n) {
      background-color: $bg;
    }
  }
  .r-tabs-tab.r-tabs-state-active {
    border: 1px solid #000;
    border-bottom: none;
    color: $text;
    background-color: #ebecf2;
  }
  .r-tabs-anchor {
    display: block;
    padding: 10px 3px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
  }

  .r-tabs-accordion-title {
    margin-bottom: 10px;
    background-color: $btn;
    color: #fff;
  }
  .r-tabs-panel {
    padding: 20px 20px 30px 20px;
    background-color: #ebecf2;
    @include bp(800px) {
      padding: 5px 15px 15px 15px;
      background-color: #fff;
    }
  }
}

.product__tabs-container {
  border: 1px solid;
  border-top: none;
  @include bp(800px) {
    border: none;
  }
}

.product__tabs-deliver {
  margin: 20px 0 5px 0;
  li {
    border: 1px solid;
    margin-right: 20px;
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.product__pickup-list {
  margin: 30px 0;
}
.product__pickup-item {
  margin-bottom: 30px;
  &:last-of-type {
    margin-bottom: 0;
  }
}

.product__price {
  font-size: 14px;
  .row {
    position: relative;
    padding: 5px;
    a {
      color: $btn;
      font-size: 12px;
    }
    [class*="col-"] {
      @include bp(600px) {
        flex: 1 1 0;
      }
    }
  }
  .help {
    display: inline-block;
    height: 18px;
    width: 18px;
    margin: -3px 0 0 10px;
    &.tooltip-triger:hover {
      + .tooltip-dropdown {
        left: -100%;
      }
    }
  }
  .roll {
    background-color: #ffdfdf;
  }
  .retail {
    background-color: #eee;
  }
  [class*="col-"] {
    padding: 0 3px;
    position: relative;
    word-break: break-all;
    > span {
      display: block;
    }
  }
  [class*="old-price"] {
    text-decoration: line-through;
    color: #757575;
  }
  [class*="new-price"] {
    font-weight: 700;
    color: $second;
  }
  &.sale {
    .roll {
      background-color: #eee;
    }
    .from12,
    .from3 {
      background-color: #ffdfdf;
    }
    .retail {
      background-color: #ffc7c7;
    }
  }
  .product__meter {
    padding-right: 0;
    margin-top: 10px;
  }
  .product__related {
    position: relative;
    padding-right: 0;
    .product__related-prace {
      padding: 0 5px;
    }
    .col-50 {
      @include bp(600px) {
        flex: 0 1 40%;
      }
    }
  }
  .quantity {
    @include bp(600px) {
      width: 120px;
      margin: 0 0 0 auto;
    }
  }
  @include bp(800px) {
    font-size: 12px;
  }
}

.product__cotton-icon {
  height: 20px;
  // width: 10px;
}

.product__cotton-title {
  position: relative;
  padding-left: 18px;
  flex: 0 1 calc(100% - 40px);
  font-size: 12px;
  word-break: break-word;
  &:before {
    content: "";
    @include center(y);
    left: 0;
    width: 15px;
    height: 20px;
    background: url(../img/misc/bobbin.png) center center/contain no-repeat;
  }
  + .help {
    &.tooltip-triger:hover {
      + .tooltip-dropdown {
        left: 0;
      }
    }
  }
}

.product__price {
  table {
    width: 100%;
    // font-size: inherit;
    td {
      // position: relative;
      border: none;
      a {
        font-size: 0.8em;
      }
    }
    @include bp(600px) {
      // width: auto;
      font-size: 13px;
    }
  }
}

.product__total_price {
  font-size: 16px;
  font-weight: 700;
  @include bp(600px) {
    text-align: right;
  }
}

// product__btn
.product__btn-list {
  .btn {
    padding: 0.73em 1.4em;
    @include bp(600px) {
      font-size: 14px;
      padding: 1.1em 1.4em;
    }
  }
  @include bp(600px) {
    margin-top: 20px;
  }
}

.product__btn-item {
  flex: 0 1 auto;
  padding: 0.8em;
  font-size: 14px;
  font-weight: 600;
  color: $btn;
  background-color: $mist;
  @include bp(600px) {
    flex: 0 1 0;
    font-size: 12px;
  }
}
.wish-btn {
  padding: 0.3em 0.5em;
  color: $btn;
  font-size: 20px;
  &.add {
    color: $second;
  }
  @include bp(600px) {
    padding: 0.53em;
  }
}
