html {
  font-family: $ff;
  color: #000;
  font-size: $fz;
  line-height: 1;
}

body {
  display: flex;
  flex-direction: column;
}

.wrapper {
  position: relative;
  min-width: 320px;
  min-height: 100vh;
  flex-grow: 1;
  background-color: #fbfbfb;
}

.footer {
  flex-grow: 0;
}

.container {
  position: relative;
  max-width: $container;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  display: inline-block;
  vertical-align: baseline;
}

.mobil {
  display: none !important;
  @include bp(720px) {
    display: block !important;
  }
}

.mobil-sx {
  display: none !important;
  @include bp(400px) {
    display: block !important;
  }
}

.accent {
  color: $primary;
}

.accent2 {
  color: $third;
}

/*grid*/

.row,
%row {
  display: flex;
  flex-wrap: wrap;
  // margin-right: -20px;
  // margin-left: -20px;
  &.ac {
    align-items: center;
  }
  &.as {
    align-items: stretch;
  }
  &.ab {
    align-items: baseline;
  }
  &.jc {
    justify-content: center;
  }
  &.jsb {
    justify-content: space-between;
  }
  &.jsa {
    justify-content: space-around;
  }
  .col {
    flex: 1 1 0;
    margin-right: 1.5%;
    @include bp(800px) {
      flex: 0 1 100%;
      margin-right: 0;
      margin-bottom: 0;
    }
  }
}

.aside {
  flex: 0 1 230px;
  @include bp(800px) {
    flex: 0 1 100%;
  }
}

.content {
  flex: 0 1 calc(100% - 260px);
  padding: 30px 20px;
  background-color: #fff;
  font-size: 14px;

  @include bp(800px) {
    flex: 0 1 100%;
    font-size: 12px;
  }
  @include bp(600px) {
    padding: 20px 0;
  }
}

.hidden {
  display: none;
}
