$container: 1100px;

$fz: 12px;
$ff: "Open Sans", sans-serif;
$acent-ff: PTSans;

$text: #626262;
$primary: #d05252;
$second: #c63b3b;
$light: #e78f84;
$order: #fde5e5;
$third: #656798;
$haze: #e3e3f2;
$mist: #dddddd;
$btn: #8183c2;
$btn-light: #b0b3da;
