.btn {
padding: 5px 1.4em;
 text-transform: uppercase;
 color: #fff;
 font-weight: 700;
 background-color: $btn;
}

.btn-link {
 padding: 5px 4px 5px 9px;;
}

.close {
 position: absolute;
 right: -7px;
 top: -7px;
 width: 40px;
 height: 40px;
 text-align: center;
 line-height: 40px;
 font-size: 1.5em;
}