.btn {
  padding: 0.5em 1.4em;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  background-color: $btn;
  letter-spacing: 1px;
  font-size: 15px;
  text-align: center;
  &-small {
    padding: 0.2em 0.5em 0.3em 0.5em;
    color: #fff;
    margin-right: 10px;
    &:last-of-type {
      margin-right: 0;
    }
    * {
      vertical-align: baseline;
    }
  }
  &--big {
    padding: 0.9em 1.4em 1em 1.4em;
    text-transform: none;
  }
  &--accent {
    background-color: $primary;
  }
  &--grey {
    background-color: $text;
  }
  &--light {
    background-color: $btn-light;
  }
}

.btn-link {
  padding: 5px 4px 5px 9px;
}

.close {
  position: absolute;
  right: -7px;
  top: -7px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 1.5em;
}

.menu-trigger {
  display: none;
  position: relative;
  width: 35px;
  height: 28px;
  padding: 12px 0;
  border-radius: 4px;
  background-clip: content-box;
  background-color: #222;
  cursor: pointer;
  &:before,
  &:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #222;
  }
  &:before {
    top: 0;
  }
  &:after {
    bottom: 0;
  }
  @include bp(720px) {
    display: block;
  }
  @include bp(400px) {
    height: 25px;
    padding: 11px 5px;
    &:before,
    &:after {
      left: 5px;
      right: 5px;
      width: auto;
      height: 3px;
    }
  }
}

.menu-close {
  position: absolute;
  top: 0;
  right: 0;
  text-indent: -999px;
  overflow: hidden;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 2;
  &:before,
  &:after {
    content: "";
    position: absolute;
    left: 15px;
    right: 15px;
    top: 50%;
    height: 3px;
    background-color: #222;
  }
  &:before {
    transform: translateY(-50%) rotate(45deg);
  }
  &:after {
    transform: translateY(-50%) rotate(-45deg);
  }
}

.dropdown__trigger {
  position: relative;
  flex: 1 1 auto;
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: rotate(-45deg) translateY(-50%);
    width: 12px;
    height: 12px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
  }
}

.submenu__trigger {
  position: relative;
  flex: 1 1 auto;
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: rotate(-45deg) translateY(-50%);
    width: 8px;
    height: 8px;
    border-bottom: 1px solid;
    border-right: 1px solid;
  }
}

.dropdown__close {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5em 0.5em 0.7em 2.5em;
  background-color: $light;
  color: #fff;
  font-weight: 700;
  &:before {
    content: "";
    // display: inline-block;
    // vertical-align: baseline;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 25px;
    background-color: $primary;
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%) rotate(45deg);
    width: 12px;
    height: 12px;
    border-bottom: 3px solid #fff;
    border-left: 3px solid #fff;
  }
}

.to-top {
  position: fixed;
  bottom: 20%;
  left: 20px;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  overflow: hidden;
  opacity: 1;
  z-index: 10;
}

/*friends*/
.friends-btn {
  color: #fff;
  span {
    display: inline-block;
    vertical-align: middle;
  }
  &.inst {
    background: radial-gradient(
      at bottom left,
      #f78834,
      #f27f4c,
      #ec6653,
      #de4256,
      #d4414e,
      #b8328d,
      #b43498,
      #953faf,
      #525ecf
    );
    background: -webkit-radial-gradient(
      bottom left,
      #f78834,
      #f27f4c,
      #ec6653,
      #de4256,
      #d4414e,
      #b8328d,
      #b43498,
      #953faf,
      #525ecf
    );
  }
  &.vkt {
    background-color: #4a76a8;
  }
  &.ytb {
    background-color: #ff0000;
  }
}
.friends-btn__pic {
  width: 40px;
  height: 100%;
  padding: 5px;
  border-right: 2px solid;
  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}
.friends-btn__text {
  padding: 0.5em 1.4em;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
}
