.swiper-wrapper {
  min-width: 0;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: $text;
}

.banner-pagination {
  width: auto !important;
  margin-left: 15px;
}

.swiper-pagination-bullet {
  background: $mist;
  border: 3px solid $mist;
  box-sizing: content-box;
  opacity: 1;
  box-shadow: 2px 2px 2px rgba($text, 0.5);
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #757575;
  border: 3px solid $light;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  @include bp(500px) {
    font-size: 30px;
  }
}

.tag-prev:after,
.tag-next:after {
  font-size: 20px;
  font-weight: bold;
}

/*product colors*/

.colors__item {
  width: 26px;
  height: 26px;
  @include bp(800px) {
    width: 60px;
    height: 60px;
  }
}
.color-prev {
  left: -10px;
  z-index: 1;
}
.color-next {
  right: -10px;
  z-index: 1;
}

.color-prev:after,
.color-next:after {
  font-size: 20px;
  font-weight: bold;
}
